#Atividades

#PR

##01

In [3]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [4]:
cidades = pd.read_excel('BRCidadesRegiao.xlsx')
cidades

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,municipio,codigo,area_territorial,populacao_estimada,densidade_demografica,escolarizacao,idhm,...,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos,regiao_imediata
0,0,0,0,Açailândia,2100055,5808.304,113121,17.92,97.7,0.672,...,488799.22,779.84,364811.85,1999546.31,110543,18088.40,1334,9935.0,24208.0,AP de Imperatriz/MA
1,1,1,1,Afonso Cunha,2100105,371.338,6578,15.90,96.6,0.529,...,1600.00,8.46,21500.22,35459.24,6421,5522.39,14,61.0,519.0,AP de Teresina/PI
2,2,2,2,Água Doce do Maranhão,2100154,443.267,12652,26.13,98.3,0.500,...,3555.39,19612.05,39464.68,73287.14,12360,5929.38,57,61.0,495.0,Parnaíba
3,3,3,3,Alcântara,2100204,1168.246,22112,14.70,96.8,0.573,...,7861.43,29391.33,61419.05,117494.58,21667,5422.74,124,327.0,1282.0,AP de São Luís/MA
4,4,4,4,Aldeias Altas,2100303,1942.121,26757,12.33,94.9,0.513,...,9704.76,38558.93,81.62,169251.79,26115,6481.02,91,327.0,2271.0,Caxias
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531,5531,5531,5955,Pacaraima,1400456,8025.045,18913,1.30,93.0,0.650,...,8161.28,29966.90,114622.75,164518.39,12144,13547.30,108,979.0,379.0,Boa Vista
5532,5532,5532,5956,Rorainópolis,1400472,33579.739,30782,0.72,95.5,0.619,...,36173.93,97.97,262297.53,506131.66,27756,18235.04,264,1214.0,3990.0,Boa Vista
5533,5533,5533,5957,São João da Baliza,1400506,4284.505,8348,1.58,93.6,0.655,...,10158.54,26606.34,74719.19,140.28,7629,18387.38,42,262.0,1441.0,Boa Vista
5534,5534,5534,5958,São Luiz,1400605,1526.898,8110,4.42,92.0,0.649,...,4084.71,15.87,70184.88,110589.67,7503,14739.39,51,257.0,1244.0,Boa Vista
5535,5535,5535,5959,Uiramutã,1400704,8113.598,10789,1.04,60.2,0.453,...,1189.55,4.75,87.28,103680.32,9664,10728.51,8,7.0,25.0,Boa Vista

In [5]:
cidades = cidades[['regiao_imediata', 'cidade', 'estado', 'longitude', 'latitude', 'altitude',
'area_territorial', 'populacao_estimada', 'densidade_demografica', 'pib_per_capita', 'receitas_realizadas',
'despesas_empenhadas', 'saldo_receitas_despesas', 'unidades', 'unidades_urbanas', 'unidades_rurais', 'area_plantada', 'producao_graos',
'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 'GVA_agropecuaria', 'GVA_industria', 'GVA_Servicos', 'GVA_publico',
'GDP', 'GDP_populacao', 'GDP_per_capita', 'estabelecimentos', 'carros', 'motos'
]].copy()

In [6]:
cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5536 entries, 0 to 5535
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   regiao_imediata          5536 non-null   object
 1   cidade                   5536 non-null   object
 2   estado                   5536 non-null   object
 3   longitude                5529 non-null   float64
 4   latitude                 5529 non-null   float64
 5   altitude                 5529 non-null   float64
 6   area_territorial         5536 non-null   float64
 7   populacao_estimada       5536 non-null   int64
 8   densidade_demografica    5531 non-null   float64
 9   pib_per_capita           5536 non-null   float64
 10  receitas_realizadas      5514 non-null   float64
 11  despesas_empenhadas      5514 non-null   float64
 12  saldo_receitas_despesas  5514 non-null   float64
 13  unidades                 5529 non-null   float64
 14  unidades_urbanas         5529 non-null   float64
 15  unidades_rurais          5458 non-null   float64
 16  area_plantada            5536 non-null   int64
 17  producao_graos           5536 non-null   int64
 18  IDHM_Renda               5530 non-null   float64
 19  IDHM_Longevidade         5530 non-null   float64
 20  IDHM_Educacao            5530 non-null   float64
 21  GVA_agropecuaria         5536 non-null   float64
 22  GVA_industria            5536 non-null   float64
 23  GVA_Servicos             5536 non-null   float64
 24  GVA_publico              5536 non-null   float64
 25  GDP                      5536 non-null   float64
 26  GDP_populacao            5536 non-null   int64
 27  GDP_per_capita           5536 non-null   float64
 28  estabelecimentos         5536 non-null   int64
 29  carros                   5528 non-null   float64
 30  motos                    5528 non-null   float64
dtypes: float64(23), int64(5), object(3)
memory usage: 1.3+ MB

In [7]:
cidades.replace([np.inf, -np.inf], np.nan, inplace=True)
cidades.dropna(inplace=True)
cidades

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
0,AP de Imperatriz/MA,Açailândia,MA,-47.506665,-4.951377,229.05,5808.304,113121,17.92,19780.01,...,159853.84,488799.22,779.84,364811.85,1999546.31,110543,18088.40,1334,9935.0,24208.0
1,AP de Teresina/PI,Afonso Cunha,MA,-43.320869,-4.135015,67.20,371.338,6578,15.90,6934.67,...,2461.41,1600.00,8.46,21500.22,35459.24,6421,5522.39,14,61.0,519.0
2,Parnaíba,Água Doce do Maranhão,MA,-42.115551,-2.840278,10.44,443.267,12652,26.13,5895.85,...,8.10,3555.39,19612.05,39464.68,73287.14,12360,5929.38,57,61.0,495.0
3,AP de São Luís/MA,Alcântara,MA,-44.417013,-2.403277,29.72,1168.246,22112,14.70,5387.80,...,14464.15,7861.43,29391.33,61419.05,117494.58,21667,5422.74,124,327.0,1282.0
4,Caxias,Aldeias Altas,MA,-43.468735,-4.630779,80.49,1942.121,26757,12.33,6614.18,...,31.99,9704.76,38558.93,81.62,169251.79,26115,6481.02,91,327.0,2271.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5529,Boa Vista,Mucajaí,RR,-60.911519,2.479772,69.63,12337.851,18172,1.19,17804.20,...,39103.32,13137.27,47561.62,156797.76,270.95,16618,16304.33,129,867.0,2480.0
5530,Boa Vista,Normandia,RR,-59.635206,3.882978,102.78,6959.868,11532,1.28,14108.20,...,16966.21,2.26,11743.00,97667.78,129666.02,10339,12541.45,18,140.0,432.0
5532,Boa Vista,Rorainópolis,RR,-60.425060,0.937195,83.80,33579.739,30782,0.72,18832.65,...,62063.98,36173.93,97.97,262297.53,506131.66,27756,18235.04,264,1214.0,3990.0
5533,Boa Vista,São João da Baliza,RR,-59.906044,0.947157,121.25,4284.505,8348,1.58,20041.66,...,13886.89,10158.54,26606.34,74719.19,140.28,7629,18387.38,42,262.0,1441.0
5534,Boa Vista,São Luiz,RR,-60.028267,1.018112,116.35,1526.898,8110,4.42,15710.68,...,16533.59,4084.71,15.87,70184.88,110589.67,7503,14739.39,51,257.0,1244.0

In [8]:
cidades['estado'].unique()

array(['MA', 'RS', 'BA', 'PR', 'ES', 'MT', 'AC', 'TO', 'SE', 'PA', 'PI',
       'GO', 'SC', 'CE', 'AP', 'RO', 'MS', 'AM', 'MG', 'PE', 'DF', 'RN',
       'SP', 'AL', 'PB', 'RJ', 'RR'], dtype=object)

In [9]:
cidades_pr = cidades[cidades['estado'] == 'PR'].copy()
cidades_pr

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
1129,Santo Antônio da Platina,Abatiá,PR,-50.312527,-23.300494,579.30,228.717,7408,33.95,22813.99,...,73340.52,8839.71,42999.37,34103.49,165048.21,7795,21173.60,285,2168.0,912.0
1130,AP de Curitiba/PR,Adrianópolis,PR,-48.991755,-24.661690,180.71,1349.311,5857,4.73,40690.26,...,29899.62,107937.11,40706.69,30010.30,239080.34,6293,37991.47,145,1437.0,925.0
1131,AP de Curitiba/PR,Agudos do Sul,PR,-49.338702,-25.990618,869.33,192.261,9470,43.01,20765.33,...,59237.46,8978.95,53725.66,36392.28,167967.02,9073,18512.84,148,3042.0,1182.0
1132,AP de Curitiba/PR,Almirante Tamandaré,PR,-49.300320,-25.313378,956.94,194.888,120041,529.95,13200.70,...,31875.36,343640.04,523548.21,385217.32,1396289.27,114129,12234.31,1971,36568.0,11082.0
1133,AP de Cascavel/PR,Altamira do Paraná,PR,-52.709807,-24.801000,589.32,386.945,1682,11.13,24472.95,...,31423.59,2201.68,17308.70,17227.84,71752.05,3143,22829.16,52,921.0,578.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,AP de Umuarama/PR,Alto Paraíso,PR,-53.732893,-23.508131,392.88,967.772,2685,3.31,28619.40,...,38948.80,3.87,15889.25,21290.84,83.35,3037,27446.02,80,897.0,471.0
1522,AP de Curitiba/PR,Doutor Ulysses,PR,-49.419772,-24.567836,816.70,777.482,5552,7.33,11713.09,...,25.23,2.22,12498.18,25090.06,66737.87,5794,11518.45,55,715.0,484.0
1523,Laranjeiras do Sul,Virmond,PR,-52.202543,-25.378766,715.36,243.173,4022,16.24,28209.93,...,32.46,14147.81,23482.72,20063.48,95890.84,4090,23445.19,76,1316.0,279.0
1524,AP de Pato Branco/PR,Vitorino,PR,-52.777081,-26.264344,686.78,308.218,6859,21.13,44711.06,...,124699.04,24439.55,138706.45,33175.34,349792.39,6853,51042.23,216,2203.0,486.0
1525,AP de Umuarama/PR,Xambrê,PR,-53.486941,-23.738394,389.42,359.712,5630,16.71,14552.91,...,31.47,3840.33,20769.35,24.64,85003.19,5986,14200.33,127,1821.0,922.0

In [10]:
vif_dt = cidades_pr[[
'area_territorial', 'populacao_estimada', 'densidade_demografica', 'pib_per_capita', 'receitas_realizadas',
'despesas_empenhadas', 'saldo_receitas_despesas', 'unidades', 'unidades_urbanas', 'unidades_rurais', 'area_plantada', 'producao_graos',
'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 'GVA_agropecuaria', 'GVA_industria', 'GVA_Servicos', 'GVA_publico',
'GDP', 'GDP_populacao', 'GDP_per_capita', 'estabelecimentos', 'carros', 'motos'
]]
vif_dt

,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,receitas_realizadas,despesas_empenhadas,saldo_receitas_despesas,unidades,unidades_urbanas,unidades_rurais,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
1129,228.717,7408,33.95,22813.99,21302.47790,17805.68531,3496.79259,2499.0,1877.0,622.0,...,73340.52,8839.71,42999.37,34103.49,165048.21,7795,21173.60,285,2168.0,912.0
1130,1349.311,5857,4.73,40690.26,26990.78756,28870.37751,-1879.58995,1976.0,643.0,1333.0,...,29899.62,107937.11,40706.69,30010.30,239080.34,6293,37991.47,145,1437.0,925.0
1131,192.261,9470,43.01,20765.33,23790.02827,21427.99858,2362.02969,2579.0,879.0,1700.0,...,59237.46,8978.95,53725.66,36392.28,167967.02,9073,18512.84,148,3042.0,1182.0
1132,194.888,120041,529.95,13200.70,200858.73732,165618.13589,35240.60143,30414.0,29168.0,1246.0,...,31875.36,343640.04,523548.21,385217.32,1396289.27,114129,12234.31,1971,36568.0,11082.0
1133,386.945,1682,11.13,24472.95,21885.68263,18152.12621,3733.55642,1390.0,720.0,670.0,...,31423.59,2201.68,17308.70,17227.84,71752.05,3143,22829.16,52,921.0,578.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,967.772,2685,3.31,28619.40,26384.37245,21671.08011,4713.29234,1101.0,596.0,505.0,...,38948.80,3.87,15889.25,21290.84,83.35,3037,27446.02,80,897.0,471.0
1522,777.482,5552,7.33,11713.09,20683.23057,15683.69240,4999.53817,1687.0,277.0,1410.0,...,25.23,2.22,12498.18,25090.06,66737.87,5794,11518.45,55,715.0,484.0
1523,243.173,4022,16.24,28209.93,17839.87906,14596.34952,3243.52954,1224.0,576.0,648.0,...,32.46,14147.81,23482.72,20063.48,95890.84,4090,23445.19,76,1316.0,279.0
1524,308.218,6859,21.13,44711.06,27644.17905,24484.02504,3160.15401,2073.0,1279.0,794.0,...,124699.04,24439.55,138706.45,33175.34,349792.39,6853,51042.23,216,2203.0,486.0
1525,359.712,5630,16.71,14552.91,21321.47699,17509.37545,3812.10154,2010.0,673.0,1337.0,...,31.47,3840.33,20769.35,24.64,85003.19,5986,14200.33,127,1821.0,922.0

In [11]:
vif_data = pd.DataFrame()
vif_data['variavel'] = vif_dt.columns
vif_data['VIF'] = [variance_inflation_factor(vif_dt.values, i)
    for i in range(len(vif_dt.columns))]
round(vif_data,4)

C:\Users\H4nzo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   variavel           VIF
0          area_territorial  8.638900e+00
1        populacao_estimada  1.141945e+04
2     densidade_demografica  4.479900e+00
3            pib_per_capita  9.219050e+01
4       receitas_realizadas           inf
5       despesas_empenhadas           inf
6   saldo_receitas_despesas           inf
7                  unidades  4.566133e+10
8          unidades_urbanas  4.084212e+10
9           unidades_rurais  4.956705e+08
10            area_plantada  2.360870e+01
11           producao_graos  2.930430e+01
12               IDHM_Renda  9.142001e+02
13         IDHM_Longevidade  6.699050e+02
14            IDHM_Educacao  2.483648e+02
15         GVA_agropecuaria  8.760900e+00
16            GVA_industria  7.173100e+00
17             GVA_Servicos  2.093090e+01
18              GVA_publico  2.343480e+01
19                      GDP  1.763220e+01
20            GDP_populacao  2.967165e+04
21           GDP_per_capita  8.935720e+01
22         estabelecimentos  1.273712e+02
23                   carros  4.461443e+02
24                    motos  8.057200e+01

In [12]:
vif_dt = cidades_pr[[
'area_territorial', 'populacao_estimada', 'pib_per_capita',
'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']]
vif_dt

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
1129,228.717,7408,22813.99,3496.79259,0.596,165048.21
1130,1349.311,5857,40690.26,-1879.58995,0.563,239080.34
1131,192.261,9470,20765.33,2362.02969,0.543,167967.02
1132,194.888,120041,13200.70,35240.60143,0.575,1396289.27
1133,386.945,1682,24472.95,3733.55642,0.571,71752.05
...,...,...,...,...,...,...
1521,967.772,2685,28619.40,4713.29234,0.556,83.35
1522,777.482,5552,11713.09,4999.53817,0.362,66737.87
1523,243.173,4022,28209.93,3243.52954,0.628,95890.84
1524,308.218,6859,44711.06,3160.15401,0.582,349792.39
1525,359.712,5630,14552.91,3812.10154,0.606,85003.19

In [13]:
vif_data = pd.DataFrame()
vif_data['variavel'] = vif_dt.columns
vif_data['VIF'] = [variance_inflation_factor(vif_dt.values, i)
    for i in range(len(vif_dt.columns))]
vif_data

                  variavel       VIF
0         area_territorial  2.426796
1       populacao_estimada  5.220004
2           pib_per_capita  6.285997
3  saldo_receitas_despesas  1.041833
4            IDHM_Educacao  6.650196
5                      GDP  4.826700

##02

In [14]:
vif_dt = vif_dt.copy()
for coluna in vif_dt.columns:
    print(coluna)
    out_max = vif_dt[coluna].quantile(0.75) + ((vif_dt[coluna].quantile(0.75) - vif_dt[coluna].quantile(0.25)) * 1.5)
    print(out_max)
    vif_dt[coluna] = vif_dt[coluna].apply(lambda x : out_max if x > out_max else x)
    out_min = vif_dt[coluna].quantile(0.25) - ((vif_dt[coluna].quantile(0.75) - vif_dt[coluna].quantile(0.25)) * 1.5)
    print(out_min)
    vif_dt[coluna] = vif_dt[coluna].apply(lambda x : out_min if x < out_min else x)
vif_dt

area_territorial
1242.597125
-398.911875
populacao_estimada
39631.875
-15885.125
pib_per_capita
53505.54375
2648.7337499999994
saldo_receitas_despesas
20426.76252125
-6739.508008749992
IDHM_Educacao
0.7722500000000003
0.45824999999999977
GDP
1002895.4275
-474041.77249999996

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
1129,228.717000,7408.000,22813.99,3496.792590,0.59600,1.650482e+05
1130,1242.597125,5857.000,40690.26,-1879.589950,0.56300,2.390803e+05
1131,192.261000,9470.000,20765.33,2362.029690,0.54300,1.679670e+05
1132,194.888000,39631.875,13200.70,20426.762521,0.57500,1.002895e+06
1133,386.945000,1682.000,24472.95,3733.556420,0.57100,7.175205e+04
...,...,...,...,...,...,...
1521,967.772000,2685.000,28619.40,4713.292340,0.55600,8.335000e+01
1522,777.482000,5552.000,11713.09,4999.538170,0.45825,6.673787e+04
1523,243.173000,4022.000,28209.93,3243.529540,0.62800,9.589084e+04
1524,308.218000,6859.000,44711.06,3160.154010,0.58200,3.497924e+05
1525,359.712000,5630.000,14552.91,3812.101540,0.60600,8.500319e+04

##3

In [15]:
colunas = ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
sel = colunas
cidadesz = vif_dt[sel].copy()
listaz = []
for coluna in colunas:
    if coluna != "cidade":
        print(coluna)
        listaz.insert(0, 'z_'+coluna)
        media = cidadesz[coluna].mean()
        dp = cidadesz[coluna].std()
        cidadesz['z_'+coluna] = cidadesz[coluna].apply(lambda x : (x - media) / dp)
cidadesz['totalz'] = cidadesz[listaz].sum(axis=1)
cidadesz['ranking'] = cidadesz['totalz'].rank(ascending=False)
cidadesz

area_territorial
populacao_estimada
pib_per_capita
saldo_receitas_despesas
IDHM_Educacao
GDP

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
1129,228.717000,7408.000,22813.99,3496.792590,0.59600,1.650482e+05,-0.718483,-0.553949,-0.609834,-0.737378,-0.252911,-0.466311,-3.338866,314.0
1130,1242.597125,5857.000,40690.26,-1879.589950,0.56300,2.390803e+05,2.376501,-0.683870,1.134094,-1.639844,-0.797250,-0.240755,0.148877,147.0
1131,192.261000,9470.000,20765.33,2362.029690,0.54300,1.679670e+05,-0.829769,-0.381222,-0.809692,-0.927856,-1.127152,-0.457418,-4.533110,370.0
1132,194.888000,39631.875,13200.70,20426.762521,0.57500,1.002895e+06,-0.821750,2.145329,-1.547662,2.104443,-0.599308,2.086392,3.367442,76.0
1133,386.945000,1682.000,24472.95,3733.556420,0.57100,7.175205e+04,-0.235474,-1.033595,-0.447993,-0.697635,-0.665289,-0.750560,-3.830547,338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,967.772000,2685.000,28619.40,4713.292340,0.55600,8.335000e+01,1.537566,-0.949577,-0.043484,-0.533180,-0.912716,-0.968916,-1.870307,231.0
1522,777.482000,5552.000,11713.09,4999.538170,0.45825,6.673787e+04,0.956684,-0.709419,-1.692787,-0.485131,-2.525113,-0.765837,-5.221603,383.0
1523,243.173000,4022.000,28209.93,3243.529540,0.62800,9.589084e+04,-0.674355,-0.837582,-0.083430,-0.779890,0.274932,-0.677016,-2.777340,279.0
1524,308.218000,6859.000,44711.06,3160.154010,0.58200,3.497924e+05,-0.475798,-0.599936,1.526345,-0.793885,-0.483843,0.096556,-0.730561,180.0
1525,359.712000,5630.000,14552.91,3812.101540,0.60600,8.500319e+04,-0.318606,-0.702885,-1.415747,-0.684451,-0.087960,-0.710188,-3.919837,345.0

In [16]:
cidades_pr = cidades_pr.merge(cidadesz, right_index=True, left_index=True, how = 'left')
cidades_pr

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
1129,Santo Antônio da Platina,Abatiá,PR,-50.312527,-23.300494,579.30,228.717,7408,33.95,22813.99,...,0.59600,1.650482e+05,-0.718483,-0.553949,-0.609834,-0.737378,-0.252911,-0.466311,-3.338866,314.0
1130,AP de Curitiba/PR,Adrianópolis,PR,-48.991755,-24.661690,180.71,1349.311,5857,4.73,40690.26,...,0.56300,2.390803e+05,2.376501,-0.683870,1.134094,-1.639844,-0.797250,-0.240755,0.148877,147.0
1131,AP de Curitiba/PR,Agudos do Sul,PR,-49.338702,-25.990618,869.33,192.261,9470,43.01,20765.33,...,0.54300,1.679670e+05,-0.829769,-0.381222,-0.809692,-0.927856,-1.127152,-0.457418,-4.533110,370.0
1132,AP de Curitiba/PR,Almirante Tamandaré,PR,-49.300320,-25.313378,956.94,194.888,120041,529.95,13200.70,...,0.57500,1.002895e+06,-0.821750,2.145329,-1.547662,2.104443,-0.599308,2.086392,3.367442,76.0
1133,AP de Cascavel/PR,Altamira do Paraná,PR,-52.709807,-24.801000,589.32,386.945,1682,11.13,24472.95,...,0.57100,7.175205e+04,-0.235474,-1.033595,-0.447993,-0.697635,-0.665289,-0.750560,-3.830547,338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,AP de Umuarama/PR,Alto Paraíso,PR,-53.732893,-23.508131,392.88,967.772,2685,3.31,28619.40,...,0.55600,8.335000e+01,1.537566,-0.949577,-0.043484,-0.533180,-0.912716,-0.968916,-1.870307,231.0
1522,AP de Curitiba/PR,Doutor Ulysses,PR,-49.419772,-24.567836,816.70,777.482,5552,7.33,11713.09,...,0.45825,6.673787e+04,0.956684,-0.709419,-1.692787,-0.485131,-2.525113,-0.765837,-5.221603,383.0
1523,Laranjeiras do Sul,Virmond,PR,-52.202543,-25.378766,715.36,243.173,4022,16.24,28209.93,...,0.62800,9.589084e+04,-0.674355,-0.837582,-0.083430,-0.779890,0.274932,-0.677016,-2.777340,279.0
1524,AP de Pato Branco/PR,Vitorino,PR,-52.777081,-26.264344,686.78,308.218,6859,21.13,44711.06,...,0.58200,3.497924e+05,-0.475798,-0.599936,1.526345,-0.793885,-0.483843,0.096556,-0.730561,180.0
1525,AP de Umuarama/PR,Xambrê,PR,-53.486941,-23.738394,389.42,359.712,5630,16.71,14552.91,...,0.60600,8.500319e+04,-0.318606,-0.702885,-1.415747,-0.684451,-0.087960,-0.710188,-3.919837,345.0

In [17]:
cidades_pr.sort_values(by='ranking')[0:10]

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
1402,AP de Ponta Grossa/PR,Ponta Grossa,PR,-50.161442,-25.092547,955.18,2054.732,355336,150.72,42208.23,...,0.703,1.002895e+06,2.376501,2.145329,1.282180,2.104443,1.512066,2.086392,11.506911,1.0
1505,AP de Toledo/PR,Toledo,PR,-53.741411,-24.732077,564.65,1196.756,142645,99.68,43746.10,...,0.702,1.002895e+06,2.236566,2.145329,1.432208,2.104443,1.495571,2.086392,11.500508,2.0
1197,AP de Cascavel/PR,Cascavel,PR,-53.459722,-24.953798,769.53,2101.074,332333,136.23,35590.04,...,0.728,1.002895e+06,2.376501,2.145329,0.636540,2.104443,1.924444,2.086392,11.273648,3.0
1318,AP de Londrina/PR,Londrina,PR,-51.162773,-23.312156,604.35,1652.569,575377,306.52,34444.56,...,0.712,1.002895e+06,2.376501,2.145329,0.524792,2.104443,1.660522,2.086392,10.897978,4.0
1380,Paranaguá,Paranaguá,PR,-48.524733,-25.506842,7.01,826.431,156174,169.92,64431.27,...,0.676,1.002895e+06,1.106107,2.145329,2.384295,2.104443,1.066698,2.086392,10.893263,5.0
1336,AP de Maringá/PR,Maringá,PR,-51.939882,-23.422280,560.09,487.012,430157,733.14,41569.88,...,0.768,1.002895e+06,0.069991,2.145329,1.219906,2.104443,2.584248,2.086392,10.210309,6.0
1382,AP de Paranavaí/PR,Paranavaí,PR,-52.462402,-23.081879,467.55,1202.266,88922,67.86,30150.97,...,0.703,1.002895e+06,2.253386,2.145329,0.105929,2.104443,1.512066,2.086392,10.207544,7.0
1513,AP de Umuarama/PR,Umuarama,PR,-53.308460,-23.763950,427.05,1234.537,112500,81.67,29870.46,...,0.698,1.002895e+06,2.351896,2.145329,0.078564,2.104443,1.429590,2.086392,10.196214,8.0
1330,Marechal Cândido Rondon,Marechal Cândido Rondon,PR,-54.060008,-24.559255,430.00,745.243,53495,62.59,42456.68,...,0.704,1.002895e+06,0.858271,2.145329,1.306418,2.104443,1.528561,2.086392,10.029413,9.0
1384,AP de Pato Branco/PR,Pato Branco,PR,-52.677362,-26.229959,781.55,539.087,83843,134.25,44590.78,...,0.728,1.002895e+06,0.228956,2.145329,1.514611,2.104443,1.924444,2.086392,10.004174,10.0

In [18]:
cidades_pr.sort_values(by='ranking', ascending=False)[0:10]

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
1225,AP de Cascavel/PR,Diamante do Sul,PR,-52.688191,-25.035192,607.42,347.233,3424,9.75,15173.81,...,0.47900,52026.03,-0.356700,-0.887674,-1.355175,-0.959599,-2.182839,-0.810661,-6.552647,394.0
1216,Campo Mourão,Corumbataí do Sul,PR,-52.124185,-24.097412,530.06,164.341,3127,24.35,18538.60,...,0.52000,61965.21,-0.914998,-0.912553,-1.026921,-1.061693,-1.506540,-0.780378,-6.203083,393.0
1422,Medianeira,Ramilândia,PR,-54.027237,-25.118987,586.14,237.196,4476,17.43,18398.78,...,0.48900,84459.88,-0.692600,-0.799552,-1.040561,-0.786886,-2.017888,-0.711843,-6.049331,392.0
1327,Francisco Beltrão,Manfrinópolis,PR,-53.312583,-26.143777,534.87,216.415,2506,14.45,19311.55,...,0.52000,54.70,-0.756037,-0.964572,-0.951516,-0.812233,-1.506540,-0.969004,-5.959900,391.0
1445,Cornélio Procópio,Santa Amélia,PR,-50.423459,-23.268157,483.05,78.045,3266,48.73,21608.53,...,0.52600,69939.84,-1.178427,-0.900909,-0.727433,-0.828964,-1.407569,-0.756082,-5.799383,390.0
1340,Laranjeiras do Sul,Marquinho,PR,-52.256983,-25.112212,838.02,509.632,4340,9.74,16282.68,...,0.46300,79688.20,0.139042,-0.810944,-1.246998,-0.653260,-2.446761,-0.726381,-5.745303,389.0
1251,Ivaiporã,Godoy Moreira,PR,-51.924368,-24.192859,512.35,131.012,2898,25.47,16085.99,...,0.57800,43707.28,-1.016739,-0.931735,-1.266187,-1.046695,-0.549823,-0.836006,-5.647184,388.0
1249,Guarapuava,Foz do Jordão,PR,-52.125628,-25.733440,779.70,235.382,4556,23.03,20228.15,...,0.49600,105001.07,-0.698138,-0.792850,-0.862096,-0.632997,-1.902422,-0.649259,-5.537764,387.0
1288,AP de Paranavaí/PR,Itaúna do Sul,PR,-52.885025,-22.726877,446.81,128.870,2781,27.80,23756.86,...,0.54300,71155.24,-1.023278,-0.941536,-0.517851,-1.001536,-1.127152,-0.752379,-5.363731,386.0
1311,Guarapuava,Laranjal,PR,-52.471666,-24.888302,711.23,559.439,5784,11.37,13539.44,...,0.45825,81500.34,0.291083,-0.689985,-1.514616,-0.186371,-2.525113,-0.720860,-5.345862,385.0

##4

In [19]:
regioes = cidades.groupby(['estado','regiao_imediata'])[
    ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
    ].mean().reset_index().copy()
regioes

,estado,regiao_imediata,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
0,AC,API de Cobija/Bolívia - Brasiléia/Brasil,3515.149333,17644.000000,17978.256667,5046.840710,0.498000,135684.486667
1,AC,Cruzeiro do Sul,6388.982600,31854.800000,11518.646000,4978.054280,0.472600,349202.568000
2,AC,Rio Branco,8688.114500,48733.142857,13965.113571,14880.416255,0.435143,185996.187857
3,AL,AP de Maceió/AL,233.634953,44988.209302,16793.270930,9096.449399,0.458163,753781.115349
4,AL,AP de Penedo/AL,465.646500,40847.000000,15125.790000,6566.773315,0.507500,559484.970000
...,...,...,...,...,...,...,...,...
466,TO,Barreiras,2341.909000,16825.000000,13719.940000,6178.088230,0.497000,219249.620000
467,TO,Gurupi,3057.372800,11742.533333,28043.747333,5048.537962,0.579133,286922.452667
468,TO,Palmas,2451.908683,13716.170732,16678.239756,6082.296166,0.528439,67155.964390
469,TO,Paraíso do Tocantins,2614.753938,8291.000000,19530.604375,1754.505953,0.554562,169743.736250
470,TO,Porto Nacional,2132.837000,10628.375000,25639.343750,3852.892429,0.575625,253035.886250

In [20]:
regioes_pr = regioes[regioes['estado'] == 'PR']
regioes_pr

,estado,regiao_imediata,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
255,PR,AP de Cascavel/PR,493.705485,20271.515152,34583.540606,12361.743514,0.612182,6.763017e+05
256,PR,AP de Curitiba/PR,618.714467,57203.466667,29822.339000,31159.976513,0.569867,1.227177e+06
257,PR,AP de Londrina/PR,357.910886,30548.314286,26711.071143,88618.888176,0.606886,9.090250e+05
258,PR,AP de Mafra/SC - Rio Negro/PR,454.313000,21228.000000,28297.850000,11514.997315,0.655500,5.062430e+05
259,PR,AP de Maringá/PR,232.303118,25452.352941,30081.203529,13368.867637,0.659382,7.217488e+05
260,PR,AP de Ourinhos/SP,532.635000,25144.333333,32023.260000,15238.582347,0.645000,3.811272e+05
261,PR,AP de Paranavaí/PR,378.144417,11038.916667,27356.246667,6071.517176,0.625667,2.590406e+05
262,PR,AP de Pato Branco/PR,617.647200,17904.200000,48316.980667,8425.055635,0.609200,6.695061e+05
263,PR,AP de Ponta Grossa/PR,1424.736769,53749.000000,36393.209231,28513.091580,0.576462,1.589356e+06
264,PR,AP de São Bento do Sul - Rio Negrinho/SC,254.792000,12882.000000,59820.330000,8254.987660,0.616000,6.917587e+05
265,PR,AP de Toledo/PR,485.928667,32635.166667,40936.325000,23461.614822,0.652833,1.358669e+06
266,PR,AP de Umuarama/PR,492.595571,13676.904762,26668.341429,6370.752052,0.606571,3.344709e+05
267,PR,AP de União da Vitória/PR - Porto União/SC,786.014286,17727.857143,27240.382857,8166.451559,0.596286,4.025804e+05
268,PR,API de Foz do Iguaçu/Brasil - Ciudad del Este/...,515.053250,80227.000000,34827.302500,50135.877395,0.636500,3.823663e+06
269,PR,Apucarana,257.615182,19186.727273,23262.165455,7592.902482,0.643273,4.285403e+05
270,PR,Arapongas,231.924333,44987.666667,44574.783333,14606.658107,0.659667,1.483508e+06
271,PR,Campo Mourão,483.291789,13886.368421,30682.324211,8665.655948,0.617368,4.342986e+05
272,PR,Capanema,279.665750,10581.000000,24323.485000,6273.527455,0.624500,3.035044e+05
273,PR,Cianorte,362.885545,15152.363636,35217.254545,7954.121979,0.642818,4.070727e+05
274,PR,Cornélio Procópio,363.774300,14655.000000,28821.781000,6901.743618,0.625900,4.066052e+05
275,PR,Dois Vizinhos,244.102333,15916.000000,31957.556667,7820.865750,0.651333,5.299079e+05
276,PR,Francisco Beltrão,295.867800,13476.450000,27843.727000,8927.677268,0.623350,3.617050e+05
277,PR,Guarapuava,1142.579833,28996.333333,25450.472500,15434.714663,0.533083,7.928838e+05
278,PR,Guaíra,682.274500,25416.000000,30704.010000,11649.681670,0.627000,3.220055e+05
279,PR,Ibaiti,315.138800,11179.400000,20710.094000,5057.951748,0.601800,8.041232e+04
280,PR,Irati,725.661000,19189.000000,30333.408571,10780.772211,0.561143,5.168325e+05
281,PR,Itapeva,1441.333000,19385.000000,26636.800000,10954.931660,0.546000,4.490440e+05
282,PR,Ivaiporã,421.812800,9745.400000,22705.831000,4977.141996,0.592400,1.202811e+05
283,PR,Laranjeiras do Sul,608.939286,11682.285714,20890.638571,6461.809833,0.544286,2.250285e+05
284,PR,Marechal Cândido Rondon,253.300333,13607.833333,40464.305000,11389.470973,0.695333,5.203257e+05
285,PR,Medianeira,402.493000,16867.600000,34470.040000,8654.712356,0.617400,6.068660e+05
286,PR,Paranaguá,1102.589500,49790.750000,30870.345000,27127.479793,0.554500,2.310050e+06
287,PR,Pitanga,812.217600,10884.600000,23163.478000,8292.888690,0.548000,7.623012e+04
288,PR,Santo Antônio da Platina,320.461937,11163.312500,24727.574375,5190.076511,0.623625,1.885887e+05
289,PR,Telêmaco Borba,1095.751400,28463.600000,35551.970000,15360.544646,0.533600,3.318150e+05

In [21]:
colunas = ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
sel = colunas
regioesz = regioes_pr[sel].copy()
listaz = []
for coluna in colunas:
    if (coluna != "estado") & (coluna != "regiao_imediata"):
        print(coluna)
        listaz.insert(0, 'z_'+coluna)
        media = regioesz[coluna].mean()
        dp = regioesz[coluna].std()
        regioesz['z_'+coluna] = regioesz[coluna].apply(lambda x : (x - media) / dp)
regioesz['totalz'] = regioesz[listaz].sum(axis=1)
regioesz['ranking'] = regioesz['totalz'].rank(ascending=False)
regioesz

area_territorial
populacao_estimada
pib_per_capita
saldo_receitas_despesas
IDHM_Educacao
GDP

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
255,493.705485,20271.515152,34583.540606,12361.743514,0.612182,6.763017e+05,-0.191282,-0.205302,0.402144,-0.160819,0.064396,-0.030709,-0.121573,15.0
256,618.714467,57203.466667,29822.339000,31159.976513,0.569867,1.227177e+06,0.187675,2.114458,-0.185784,1.027025,-0.976238,0.732678,2.899813,7.0
257,357.910886,30548.314286,26711.071143,88618.888176,0.606886,9.090250e+05,-0.602936,0.440201,-0.569973,4.657805,-0.065848,0.291792,4.151041,5.0
258,454.313000,21228.000000,28297.850000,11514.997315,0.655500,5.062430e+05,-0.310698,-0.145224,-0.374033,-0.214325,1.129698,-0.266372,-0.180954,16.0
259,232.303118,25452.352941,30081.203529,13368.867637,0.659382,7.217488e+05,-0.983708,0.120115,-0.153819,-0.097180,1.225174,0.032270,0.142853,12.0
260,532.635000,25144.333333,32023.260000,15238.582347,0.645000,3.811272e+05,-0.073270,0.100768,0.085993,0.020966,0.871477,-0.439753,0.566179,11.0
261,378.144417,11038.916667,27356.246667,6071.517176,0.625667,2.590406e+05,-0.541599,-0.785218,-0.490305,-0.558294,0.396022,-0.608937,-2.588330,29.0
262,617.647200,17904.200000,48316.980667,8425.055635,0.609200,6.695061e+05,0.184440,-0.353997,2.097992,-0.409575,-0.008934,-0.040126,1.469799,9.0
263,1424.736769,53749.000000,36393.209231,28513.091580,0.576462,1.589356e+06,2.631083,1.897477,0.625608,0.859771,-0.814054,1.234575,6.434459,2.0
264,254.792000,12882.000000,59820.330000,8254.987660,0.616000,6.917587e+05,-0.915534,-0.669451,3.518462,-0.420322,0.158295,-0.009289,1.662161,8.0
265,485.928667,32635.166667,40936.325000,23461.614822,0.652833,1.358669e+06,-0.214857,0.571280,1.186606,0.540572,1.064118,0.914895,4.062613,6.0
266,492.595571,13676.904762,26668.341429,6370.752052,0.606571,3.344709e+05,-0.194647,-0.619521,-0.575250,-0.539385,-0.073577,-0.504408,-2.506788,28.0
267,786.014286,17727.857143,27240.382857,8166.451559,0.596286,4.025804e+05,0.694834,-0.365074,-0.504612,-0.425916,-0.326528,-0.410024,-1.337321,22.0
268,515.053250,80227.000000,34827.302500,50135.877395,0.636500,3.823663e+06,-0.126568,3.560606,0.432244,2.226096,0.662441,4.330811,11.085630,1.0
269,257.615182,19186.727273,23262.165455,7592.902482,0.643273,4.285403e+05,-0.906976,-0.273440,-0.995855,-0.462158,0.828999,-0.374050,-2.183480,26.0
270,231.924333,44987.666667,44574.783333,14606.658107,0.659667,1.483508e+06,-0.984856,1.347162,1.635894,-0.018965,1.232166,1.087893,4.299294,4.0
271,483.291789,13886.368421,30682.324211,8665.655948,0.617368,4.342986e+05,-0.222851,-0.606364,-0.079590,-0.394372,0.191948,-0.366070,-1.477300,23.0
272,279.665750,10581.000000,24323.485000,6273.527455,0.624500,3.035044e+05,-0.840131,-0.813980,-0.864800,-0.545529,0.367331,-0.547321,-3.244430,30.0
273,362.885545,15152.363636,35217.254545,7954.121979,0.642818,4.070727e+05,-0.587855,-0.526845,0.480397,-0.439333,0.817820,-0.403799,-0.659615,19.0
274,363.774300,14655.000000,28821.781000,6901.743618,0.625900,4.066052e+05,-0.585161,-0.558085,-0.309336,-0.505832,0.401760,-0.404447,-1.961101,25.0
275,244.102333,15916.000000,31957.556667,7820.865750,0.651333,5.299079e+05,-0.947939,-0.478880,0.077879,-0.447754,1.027229,-0.233577,-1.003042,21.0
276,295.867800,13476.450000,27843.727000,8927.677268,0.623350,3.617050e+05,-0.791015,-0.632112,-0.430109,-0.377815,0.339050,-0.466668,-2.358671,27.0
277,1142.579833,28996.333333,25450.472500,15434.714663,0.533083,7.928838e+05,1.775741,0.342719,-0.725636,0.033359,-1.880831,0.130847,-0.323801,18.0
278,682.274500,25416.000000,30704.010000,11649.681670,0.627000,3.220055e+05,0.380353,0.117832,-0.076913,-0.205814,0.428812,-0.521683,0.122588,13.0
279,315.138800,11179.400000,20710.094000,5057.951748,0.601800,8.041232e+04,-0.732597,-0.776394,-1.310993,-0.622340,-0.190918,-0.856475,-4.489716,34.0
280,725.661000,19189.000000,30333.408571,10780.772211,0.561143,5.168325e+05,0.511877,-0.273297,-0.122676,-0.260720,-1.190778,-0.251697,-1.587290,24.0
281,1441.333000,19385.000000,26636.800000,10954.931660,0.546000,4.490440e+05,2.681394,-0.260986,-0.579144,-0.249715,-1.563178,-0.345636,-0.317266,17.0
282,421.812800,9745.400000,22705.831000,4977.141996,0.592400,1.202811e+05,-0.409221,-0.866466,-1.064553,-0.627446,-0.422088,-0.801226,-4.190999,33.0
283,608.939286,11682.285714,20890.638571,6461.809833,0.544286,2.250285e+05,0.158042,-0.744807,-1.288699,-0.533631,-1.605337,-0.656070,-4.670502,35.0
284,253.300333,13607.833333,40464.305000,11389.470973,0.695333,5.203257e+05,-0.920056,-0.623860,1.128319,-0.222257,2.109298,-0.246856,1.224588,10.0
285,402.493000,16867.600000,34470.040000,8654.712356,0.617400,6.068660e+05,-0.467788,-0.419108,0.388129,-0.395064,0.192724,-0.126931,-0.828038,20.0
286,1102.589500,49790.750000,30870.345000,27127.479793,0.554500,2.310050e+06,1.654513,1.648852,-0.056373,0.772215,-1.354142,2.233292,4.898356,3.0
287,812.217600,10884.600000,23163.478000,8292.888690,0.548000,7.623012e+04,0.774268,-0.794911,-1.008041,-0.417927,-1.513993,-0.862271,-3.822875,32.0
288,320.461937,11163.312500,24727.574375,5190.076511,0.623625,1.885887e+05,-0.716460,-0.777404,-0.814902,-0.613991,0.345812,-0.706568,-3.283512,31.0
289,1095.751400,28463.600000,35551.970000,15360.544646,0.533600,3.318150e+05,1.633784,0.309257,0.521729,0.028672,-1.868125,-0.508089,0.117228,14.0

In [22]:
regioes_pr = regioes_pr.merge(regioesz, right_index=True, left_index=True, how = 'left')
regioes_pr

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
255,PR,AP de Cascavel/PR,493.705485,20271.515152,34583.540606,12361.743514,0.612182,6.763017e+05,493.705485,20271.515152,...,0.612182,6.763017e+05,-0.191282,-0.205302,0.402144,-0.160819,0.064396,-0.030709,-0.121573,15.0
256,PR,AP de Curitiba/PR,618.714467,57203.466667,29822.339000,31159.976513,0.569867,1.227177e+06,618.714467,57203.466667,...,0.569867,1.227177e+06,0.187675,2.114458,-0.185784,1.027025,-0.976238,0.732678,2.899813,7.0
257,PR,AP de Londrina/PR,357.910886,30548.314286,26711.071143,88618.888176,0.606886,9.090250e+05,357.910886,30548.314286,...,0.606886,9.090250e+05,-0.602936,0.440201,-0.569973,4.657805,-0.065848,0.291792,4.151041,5.0
258,PR,AP de Mafra/SC - Rio Negro/PR,454.313000,21228.000000,28297.850000,11514.997315,0.655500,5.062430e+05,454.313000,21228.000000,...,0.655500,5.062430e+05,-0.310698,-0.145224,-0.374033,-0.214325,1.129698,-0.266372,-0.180954,16.0
259,PR,AP de Maringá/PR,232.303118,25452.352941,30081.203529,13368.867637,0.659382,7.217488e+05,232.303118,25452.352941,...,0.659382,7.217488e+05,-0.983708,0.120115,-0.153819,-0.097180,1.225174,0.032270,0.142853,12.0
260,PR,AP de Ourinhos/SP,532.635000,25144.333333,32023.260000,15238.582347,0.645000,3.811272e+05,532.635000,25144.333333,...,0.645000,3.811272e+05,-0.073270,0.100768,0.085993,0.020966,0.871477,-0.439753,0.566179,11.0
261,PR,AP de Paranavaí/PR,378.144417,11038.916667,27356.246667,6071.517176,0.625667,2.590406e+05,378.144417,11038.916667,...,0.625667,2.590406e+05,-0.541599,-0.785218,-0.490305,-0.558294,0.396022,-0.608937,-2.588330,29.0
262,PR,AP de Pato Branco/PR,617.647200,17904.200000,48316.980667,8425.055635,0.609200,6.695061e+05,617.647200,17904.200000,...,0.609200,6.695061e+05,0.184440,-0.353997,2.097992,-0.409575,-0.008934,-0.040126,1.469799,9.0
263,PR,AP de Ponta Grossa/PR,1424.736769,53749.000000,36393.209231,28513.091580,0.576462,1.589356e+06,1424.736769,53749.000000,...,0.576462,1.589356e+06,2.631083,1.897477,0.625608,0.859771,-0.814054,1.234575,6.434459,2.0
264,PR,AP de São Bento do Sul - Rio Negrinho/SC,254.792000,12882.000000,59820.330000,8254.987660,0.616000,6.917587e+05,254.792000,12882.000000,...,0.616000,6.917587e+05,-0.915534,-0.669451,3.518462,-0.420322,0.158295,-0.009289,1.662161,8.0
265,PR,AP de Toledo/PR,485.928667,32635.166667,40936.325000,23461.614822,0.652833,1.358669e+06,485.928667,32635.166667,...,0.652833,1.358669e+06,-0.214857,0.571280,1.186606,0.540572,1.064118,0.914895,4.062613,6.0
266,PR,AP de Umuarama/PR,492.595571,13676.904762,26668.341429,6370.752052,0.606571,3.344709e+05,492.595571,13676.904762,...,0.606571,3.344709e+05,-0.194647,-0.619521,-0.575250,-0.539385,-0.073577,-0.504408,-2.506788,28.0
267,PR,AP de União da Vitória/PR - Porto União/SC,786.014286,17727.857143,27240.382857,8166.451559,0.596286,4.025804e+05,786.014286,17727.857143,...,0.596286,4.025804e+05,0.694834,-0.365074,-0.504612,-0.425916,-0.326528,-0.410024,-1.337321,22.0
268,PR,API de Foz do Iguaçu/Brasil - Ciudad del Este/...,515.053250,80227.000000,34827.302500,50135.877395,0.636500,3.823663e+06,515.053250,80227.000000,...,0.636500,3.823663e+06,-0.126568,3.560606,0.432244,2.226096,0.662441,4.330811,11.085630,1.0
269,PR,Apucarana,257.615182,19186.727273,23262.165455,7592.902482,0.643273,4.285403e+05,257.615182,19186.727273,...,0.643273,4.285403e+05,-0.906976,-0.273440,-0.995855,-0.462158,0.828999,-0.374050,-2.183480,26.0
270,PR,Arapongas,231.924333,44987.666667,44574.783333,14606.658107,0.659667,1.483508e+06,231.924333,44987.666667,...,0.659667,1.483508e+06,-0.984856,1.347162,1.635894,-0.018965,1.232166,1.087893,4.299294,4.0
271,PR,Campo Mourão,483.291789,13886.368421,30682.324211,8665.655948,0.617368,4.342986e+05,483.291789,13886.368421,...,0.617368,4.342986e+05,-0.222851,-0.606364,-0.079590,-0.394372,0.191948,-0.366070,-1.477300,23.0
272,PR,Capanema,279.665750,10581.000000,24323.485000,6273.527455,0.624500,3.035044e+05,279.665750,10581.000000,...,0.624500,3.035044e+05,-0.840131,-0.813980,-0.864800,-0.545529,0.367331,-0.547321,-3.244430,30.0
273,PR,Cianorte,362.885545,15152.363636,35217.254545,7954.121979,0.642818,4.070727e+05,362.885545,15152.363636,...,0.642818,4.070727e+05,-0.587855,-0.526845,0.480397,-0.439333,0.817820,-0.403799,-0.659615,19.0
274,PR,Cornélio Procópio,363.774300,14655.000000,28821.781000,6901.743618,0.625900,4.066052e+05,363.774300,14655.000000,...,0.625900,4.066052e+05,-0.585161,-0.558085,-0.309336,-0.505832,0.401760,-0.404447,-1.961101,25.0
275,PR,Dois Vizinhos,244.102333,15916.000000,31957.556667,7820.865750,0.651333,5.299079e+05,244.102333,15916.000000,...,0.651333,5.299079e+05,-0.947939,-0.478880,0.077879,-0.447754,1.027229,-0.233577,-1.003042,21.0
276,PR,Francisco Beltrão,295.867800,13476.450000,27843.727000,8927.677268,0.623350,3.617050e+05,295.867800,13476.450000,...,0.623350,3.617050e+05,-0.791015,-0.632112,-0.430109,-0.377815,0.339050,-0.466668,-2.358671,27.0
277,PR,Guarapuava,1142.579833,28996.333333,25450.472500,15434.714663,0.533083,7.928838e+05,1142.579833,28996.333333,...,0.533083,7.928838e+05,1.775741,0.342719,-0.725636,0.033359,-1.880831,0.130847,-0.323801,18.0
278,PR,Guaíra,682.274500,25416.000000,30704.010000,11649.681670,0.627000,3.220055e+05,682.274500,25416.000000,...,0.627000,3.220055e+05,0.380353,0.117832,-0.076913,-0.205814,0.428812,-0.521683,0.122588,13.0
279,PR,Ibaiti,315.138800,11179.400000,20710.094000,5057.951748,0.601800,8.041232e+04,315.138800,11179.400000,...,0.601800,8.041232e+04,-0.732597,-0.776394,-1.310993,-0.622340,-0.190918,-0.856475,-4.489716,34.0
280,PR,Irati,725.661000,19189.000000,30333.408571,10780.772211,0.561143,5.168325e+05,725.661000,19189.000000,...,0.561143,5.168325e+05,0.511877,-0.273297,-0.122676,-0.260720,-1.190778,-0.251697,-1.587290,24.0
281,PR,Itapeva,1441.333000,19385.000000,26636.800000,10954.931660,0.546000,4.490440e+05,1441.333000,19385.000000,...,0.546000,4.490440e+05,2.681394,-0.260986,-0.579144,-0.249715,-1.563178,-0.345636,-0.317266,17.0
282,PR,Ivaiporã,421.812800,9745.400000,22705.831000,4977.141996,0.592400,1.202811e+05,421.812800,9745.400000,...,0.592400,1.202811e+05,-0.409221,-0.866466,-1.064553,-0.627446,-0.422088,-0.801226,-4.190999,33.0
283,PR,Laranjeiras do Sul,608.939286,11682.285714,20890.638571,6461.809833,0.544286,2.250285e+05,608.939286,11682.285714,...,0.544286,2.250285e+05,0.158042,-0.744807,-1.288699,-0.533631,-1.605337,-0.656070,-4.670502,35.0
284,PR,Marechal Cândido Rondon,253.300333,13607.833333,40464.305000,11389.470973,0.695333,5.203257e+05,253.300333,13607.833333,...,0.695333,5.203257e+05,-0.920056,-0.623860,1.128319,-0.222257,2.109298,-0.246856,1.224588,10.0
285,PR,Medianeira,402.493000,16867.600000,34470.040000,8654.712356,0.617400,6.068660e+05,402.493000,16867.600000,...,0.617400,6.068660e+05,-0.467788,-0.419108,0.388129,-0.395064,0.192724,-0.126931,-0.828038,20.0
286,PR,Paranaguá,1102.589500,49790.750000,30870.345000,27127.479793,0.554500,2.310050e+06,1102.589500,49790.750000,...,0.554500,2.310050e+06,1.654513,1.648852,-0.056373,0.772215,-1.354142,2.233292,4.898356,3.0
287,PR,Pitanga,812.217600,10884.600000,23163.478000,8292.888690,0.548000,7.623012e+04,812.217600,10884.600000,...,0.548000,7.623012e+04,0.774268,-0.794911,-1.008041,-0.417927,-1.513993,-0.862271,-3.822875,32.0
288,PR,Santo Antônio da Platina,320.461937,11163.312500,24727.574375,5190.076511,0.623625,1.885887e+05,320.461937,11163.312500,...,0.623625,1.885887e+05,-0.716460,-0.777404,-0.814902,-0.613991,0.345812,-0.706568,-3.283512,31.0
289,PR,Telêmaco Borba,1095.751400,28463.600000,35551.970000,15360.544646,0.533600,3.318150e+05,1095.751400,28463.600000,...,0.533600,3.318150e+05,1.633784,0.309257,0.521729,0.028672,-1.868125,-0.508089,0.117228,14.0

In [23]:
regioes_pr.sort_values(by='ranking')[0:3]

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
268,PR,API de Foz do Iguaçu/Brasil - Ciudad del Este/...,515.053250,80227.00,34827.302500,50135.877395,0.636500,3.823663e+06,515.053250,80227.00,...,0.636500,3.823663e+06,-0.126568,3.560606,0.432244,2.226096,0.662441,4.330811,11.085630,1.0
263,PR,AP de Ponta Grossa/PR,1424.736769,53749.00,36393.209231,28513.091580,0.576462,1.589356e+06,1424.736769,53749.00,...,0.576462,1.589356e+06,2.631083,1.897477,0.625608,0.859771,-0.814054,1.234575,6.434459,2.0
286,PR,Paranaguá,1102.589500,49790.75,30870.345000,27127.479793,0.554500,2.310050e+06,1102.589500,49790.75,...,0.554500,2.310050e+06,1.654513,1.648852,-0.056373,0.772215,-1.354142,2.233292,4.898356,3.0

In [24]:
regioes_pr.sort_values(by='ranking', ascending=False)[0:3]

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
283,PR,Laranjeiras do Sul,608.939286,11682.285714,20890.638571,6461.809833,0.544286,225028.502857,608.939286,11682.285714,...,0.544286,225028.502857,0.158042,-0.744807,-1.288699,-0.533631,-1.605337,-0.656070,-4.670502,35.0
279,PR,Ibaiti,315.138800,11179.400000,20710.094000,5057.951748,0.601800,80412.318000,315.138800,11179.400000,...,0.601800,80412.318000,-0.732597,-0.776394,-1.310993,-0.622340,-0.190918,-0.856475,-4.489716,34.0
282,PR,Ivaiporã,421.812800,9745.400000,22705.831000,4977.141996,0.592400,120281.124000,421.812800,9745.400000,...,0.592400,120281.124000,-0.409221,-0.866466,-1.064553,-0.627446,-0.422088,-0.801226,-4.190999,33.0

#SP

##01

In [25]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [26]:
cidades = pd.read_excel('BRCidadesRegiao.xlsx')
cidades

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,municipio,codigo,area_territorial,populacao_estimada,densidade_demografica,escolarizacao,idhm,...,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos,regiao_imediata
0,0,0,0,Açailândia,2100055,5808.304,113121,17.92,97.7,0.672,...,488799.22,779.84,364811.85,1999546.31,110543,18088.40,1334,9935.0,24208.0,AP de Imperatriz/MA
1,1,1,1,Afonso Cunha,2100105,371.338,6578,15.90,96.6,0.529,...,1600.00,8.46,21500.22,35459.24,6421,5522.39,14,61.0,519.0,AP de Teresina/PI
2,2,2,2,Água Doce do Maranhão,2100154,443.267,12652,26.13,98.3,0.500,...,3555.39,19612.05,39464.68,73287.14,12360,5929.38,57,61.0,495.0,Parnaíba
3,3,3,3,Alcântara,2100204,1168.246,22112,14.70,96.8,0.573,...,7861.43,29391.33,61419.05,117494.58,21667,5422.74,124,327.0,1282.0,AP de São Luís/MA
4,4,4,4,Aldeias Altas,2100303,1942.121,26757,12.33,94.9,0.513,...,9704.76,38558.93,81.62,169251.79,26115,6481.02,91,327.0,2271.0,Caxias
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531,5531,5531,5955,Pacaraima,1400456,8025.045,18913,1.30,93.0,0.650,...,8161.28,29966.90,114622.75,164518.39,12144,13547.30,108,979.0,379.0,Boa Vista
5532,5532,5532,5956,Rorainópolis,1400472,33579.739,30782,0.72,95.5,0.619,...,36173.93,97.97,262297.53,506131.66,27756,18235.04,264,1214.0,3990.0,Boa Vista
5533,5533,5533,5957,São João da Baliza,1400506,4284.505,8348,1.58,93.6,0.655,...,10158.54,26606.34,74719.19,140.28,7629,18387.38,42,262.0,1441.0,Boa Vista
5534,5534,5534,5958,São Luiz,1400605,1526.898,8110,4.42,92.0,0.649,...,4084.71,15.87,70184.88,110589.67,7503,14739.39,51,257.0,1244.0,Boa Vista
5535,5535,5535,5959,Uiramutã,1400704,8113.598,10789,1.04,60.2,0.453,...,1189.55,4.75,87.28,103680.32,9664,10728.51,8,7.0,25.0,Boa Vista

In [27]:
cidades = cidades[['regiao_imediata', 'cidade', 'estado', 'longitude', 'latitude', 'altitude',
'area_territorial', 'populacao_estimada', 'densidade_demografica', 'pib_per_capita', 'receitas_realizadas',
'despesas_empenhadas', 'saldo_receitas_despesas', 'unidades', 'unidades_urbanas', 'unidades_rurais', 'area_plantada', 'producao_graos',
'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 'GVA_agropecuaria', 'GVA_industria', 'GVA_Servicos', 'GVA_publico',
'GDP', 'GDP_populacao', 'GDP_per_capita', 'estabelecimentos', 'carros', 'motos'
]].copy()

In [28]:
cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5536 entries, 0 to 5535
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   regiao_imediata          5536 non-null   object
 1   cidade                   5536 non-null   object
 2   estado                   5536 non-null   object
 3   longitude                5529 non-null   float64
 4   latitude                 5529 non-null   float64
 5   altitude                 5529 non-null   float64
 6   area_territorial         5536 non-null   float64
 7   populacao_estimada       5536 non-null   int64
 8   densidade_demografica    5531 non-null   float64
 9   pib_per_capita           5536 non-null   float64
 10  receitas_realizadas      5514 non-null   float64
 11  despesas_empenhadas      5514 non-null   float64
 12  saldo_receitas_despesas  5514 non-null   float64
 13  unidades                 5529 non-null   float64
 14  unidades_urbanas         5529 non-null   float64
 15  unidades_rurais          5458 non-null   float64
 16  area_plantada            5536 non-null   int64
 17  producao_graos           5536 non-null   int64
 18  IDHM_Renda               5530 non-null   float64
 19  IDHM_Longevidade         5530 non-null   float64
 20  IDHM_Educacao            5530 non-null   float64
 21  GVA_agropecuaria         5536 non-null   float64
 22  GVA_industria            5536 non-null   float64
 23  GVA_Servicos             5536 non-null   float64
 24  GVA_publico              5536 non-null   float64
 25  GDP                      5536 non-null   float64
 26  GDP_populacao            5536 non-null   int64
 27  GDP_per_capita           5536 non-null   float64
 28  estabelecimentos         5536 non-null   int64
 29  carros                   5528 non-null   float64
 30  motos                    5528 non-null   float64
dtypes: float64(23), int64(5), object(3)
memory usage: 1.3+ MB

In [29]:
cidades.replace([np.inf, -np.inf], np.nan, inplace=True)
cidades.dropna(inplace=True)
cidades

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
0,AP de Imperatriz/MA,Açailândia,MA,-47.506665,-4.951377,229.05,5808.304,113121,17.92,19780.01,...,159853.84,488799.22,779.84,364811.85,1999546.31,110543,18088.40,1334,9935.0,24208.0
1,AP de Teresina/PI,Afonso Cunha,MA,-43.320869,-4.135015,67.20,371.338,6578,15.90,6934.67,...,2461.41,1600.00,8.46,21500.22,35459.24,6421,5522.39,14,61.0,519.0
2,Parnaíba,Água Doce do Maranhão,MA,-42.115551,-2.840278,10.44,443.267,12652,26.13,5895.85,...,8.10,3555.39,19612.05,39464.68,73287.14,12360,5929.38,57,61.0,495.0
3,AP de São Luís/MA,Alcântara,MA,-44.417013,-2.403277,29.72,1168.246,22112,14.70,5387.80,...,14464.15,7861.43,29391.33,61419.05,117494.58,21667,5422.74,124,327.0,1282.0
4,Caxias,Aldeias Altas,MA,-43.468735,-4.630779,80.49,1942.121,26757,12.33,6614.18,...,31.99,9704.76,38558.93,81.62,169251.79,26115,6481.02,91,327.0,2271.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5529,Boa Vista,Mucajaí,RR,-60.911519,2.479772,69.63,12337.851,18172,1.19,17804.20,...,39103.32,13137.27,47561.62,156797.76,270.95,16618,16304.33,129,867.0,2480.0
5530,Boa Vista,Normandia,RR,-59.635206,3.882978,102.78,6959.868,11532,1.28,14108.20,...,16966.21,2.26,11743.00,97667.78,129666.02,10339,12541.45,18,140.0,432.0
5532,Boa Vista,Rorainópolis,RR,-60.425060,0.937195,83.80,33579.739,30782,0.72,18832.65,...,62063.98,36173.93,97.97,262297.53,506131.66,27756,18235.04,264,1214.0,3990.0
5533,Boa Vista,São João da Baliza,RR,-59.906044,0.947157,121.25,4284.505,8348,1.58,20041.66,...,13886.89,10158.54,26606.34,74719.19,140.28,7629,18387.38,42,262.0,1441.0
5534,Boa Vista,São Luiz,RR,-60.028267,1.018112,116.35,1526.898,8110,4.42,15710.68,...,16533.59,4084.71,15.87,70184.88,110589.67,7503,14739.39,51,257.0,1244.0

In [30]:
cidades['estado'].unique()

array(['MA', 'RS', 'BA', 'PR', 'ES', 'MT', 'AC', 'TO', 'SE', 'PA', 'PI',
       'GO', 'SC', 'CE', 'AP', 'RO', 'MS', 'AM', 'MG', 'PE', 'DF', 'RN',
       'SP', 'AL', 'PB', 'RJ', 'RR'], dtype=object)

In [31]:
cidades_sp = cidades[cidades['estado'] == 'SP'].copy()
cidades_sp

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
4459,AP de Adamantina - Lucélia/SP,Adamantina,SP,-51.073365,-21.688311,451.12,411.987,35111,82.15,30010.56,...,41899.77,298402.33,587636.55,151089.03,1152441.22,35094,32838.70,1726,14851.0,6481.0
4460,AP de São José do Rio Preto/SP,Adolfo,SP,-49.649721,-21.232730,425.39,211.055,3554,16.85,27634.98,...,29090.08,6.14,27.72,21018.78,86.47,3616,23911.98,81,1394.0,401.0
4461,AP de São João da Boa Vista/SP,Aguaí,SP,-46.979693,-22.059684,662.48,474.554,36648,67.72,26549.19,...,115600.38,146491.98,307155.81,117822.49,764287.53,35189,21719.50,799,11167.0,5754.0
4462,AP de São João da Boa Vista/SP,Águas da Prata,SP,-46.716767,-21.934829,832.91,142.673,8221,53.05,18974.98,...,17026.53,16235.66,69097.90,30948.74,142654.32,8065,17688.07,212,2816.0,945.0
4463,AP de Amparo/SP,Águas de Lindóia,SP,-46.631779,-22.473822,893.17,60.126,18808,287.16,25554.26,...,5835.33,63398.24,283169.22,72227.49,455273.81,18412,24727.02,881,7566.0,3644.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5099,AP de Sorocaba/SP,Votorantim,SP,-47.449738,-23.541871,571.63,183.517,123599,591.04,25036.13,...,1126.85,1611.57,1854486.19,437084.93,4387.88,118858,36917.03,2610,44098.0,15774.0
5100,AP de Votuporanga/SP,Votuporanga,SP,-49.974672,-20.419470,518.33,420.703,95338,201.15,30269.67,...,46965.90,572494.34,1539433.84,308.01,2680060.15,92032,29120.96,3483,40540.0,29247.0
5101,AP de São José do Rio Preto/SP,Zacarias,SP,-50.055740,-21.050110,415.85,319.056,2752,7.32,35478.15,...,32713.63,6657.37,16.35,18222.90,75934.89,2605,29149.67,111,901.0,346.0
5102,AP de Ourinhos/SP,Chavantes,SP,-49.713936,-23.032006,553.97,188.727,12418,64.40,16939.80,...,33826.06,18482.71,87.67,48854.52,200611.07,12486,16066.88,266,3786.0,789.0
5103,AP de Mogi Guaçu - Mogi Mirim/SP,Estiva Gerbi,SP,-46.953603,-22.274589,624.06,74.144,11407,135.35,28302.88,...,49389.29,34628.53,85447.81,43994.05,234026.48,10971,21331.37,195,3883.0,1634.0

In [32]:
vif_dt = cidades_sp[[
'area_territorial', 'populacao_estimada', 'densidade_demografica', 'pib_per_capita', 'receitas_realizadas',
'despesas_empenhadas', 'saldo_receitas_despesas', 'unidades', 'unidades_urbanas', 'unidades_rurais', 'area_plantada', 'producao_graos',
'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 'GVA_agropecuaria', 'GVA_industria', 'GVA_Servicos', 'GVA_publico',
'GDP', 'GDP_populacao', 'GDP_per_capita', 'estabelecimentos', 'carros', 'motos'
]]
vif_dt

,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,receitas_realizadas,despesas_empenhadas,saldo_receitas_despesas,unidades,unidades_urbanas,unidades_rurais,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
4459,411.987,35111,82.15,30010.56,160718.67925,137083.66993,23635.00932,11335.0,10777.0,558.0,...,41899.77,298402.33,587636.55,151089.03,1152441.22,35094,32838.70,1726,14851.0,6481.0
4460,211.055,3554,16.85,27634.98,27333.74731,20103.87713,7229.87018,1200.0,1081.0,119.0,...,29090.08,6.14,27.72,21018.78,86.47,3616,23911.98,81,1394.0,401.0
4461,474.554,36648,67.72,26549.19,84094.76006,72168.73408,11926.02598,9899.0,8970.0,929.0,...,115600.38,146491.98,307155.81,117822.49,764287.53,35189,21719.50,799,11167.0,5754.0
4462,142.673,8221,53.05,18974.98,29390.24814,24363.40149,5026.84665,2515.0,2265.0,250.0,...,17026.53,16235.66,69097.90,30948.74,142654.32,8065,17688.07,212,2816.0,945.0
4463,60.126,18808,287.16,25554.26,86949.22213,75201.47793,11747.74420,5597.0,5544.0,53.0,...,5835.33,63398.24,283169.22,72227.49,455273.81,18412,24727.02,881,7566.0,3644.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5099,183.517,123599,591.04,25036.13,366924.73451,345414.68654,21510.04797,31994.0,30838.0,1156.0,...,1126.85,1611.57,1854486.19,437084.93,4387.88,118858,36917.03,2610,44098.0,15774.0
5100,420.703,95338,201.15,30269.67,303453.50469,272054.23556,31399.26913,29161.0,28368.0,793.0,...,46965.90,572494.34,1539433.84,308.01,2680060.15,92032,29120.96,3483,40540.0,29247.0
5101,319.056,2752,7.32,35478.15,24744.74691,18714.16876,6030.57815,799.0,638.0,161.0,...,32713.63,6657.37,16.35,18222.90,75934.89,2605,29149.67,111,901.0,346.0
5102,188.727,12418,64.40,16939.80,38538.01922,34343.23006,4194.78916,3710.0,3447.0,263.0,...,33826.06,18482.71,87.67,48854.52,200611.07,12486,16066.88,266,3786.0,789.0
5103,74.144,11407,135.35,28302.88,40727.84327,35422.87636,5304.96691,2925.0,2367.0,558.0,...,49389.29,34628.53,85447.81,43994.05,234026.48,10971,21331.37,195,3883.0,1634.0

In [33]:
vif_data = pd.DataFrame()
vif_data['variavel'] = vif_dt.columns
vif_data['VIF'] = [variance_inflation_factor(vif_dt.values, i)
    for i in range(len(vif_dt.columns))]
round(vif_data,4)

C:\Users\H4nzo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   variavel           VIF
0          area_territorial  6.328100e+00
1        populacao_estimada  3.021287e+05
2     densidade_demografica  2.933600e+00
3            pib_per_capita  1.187190e+01
4       receitas_realizadas           inf
5       despesas_empenhadas           inf
6   saldo_receitas_despesas           inf
7                  unidades  1.772024e+12
8          unidades_urbanas  1.742205e+12
9           unidades_rurais  2.391472e+08
10            area_plantada  1.394210e+01
11           producao_graos  1.733590e+01
12               IDHM_Renda  9.410965e+02
13         IDHM_Longevidade  8.134719e+02
14            IDHM_Educacao  3.588663e+02
15         GVA_agropecuaria  3.302100e+00
16            GVA_industria  3.398800e+01
17             GVA_Servicos  1.201084e+03
18              GVA_publico  4.409618e+02
19                      GDP  2.669904e+02
20            GDP_populacao  5.010180e+05
21           GDP_per_capita  8.432800e+00
22         estabelecimentos  1.718433e+03
23                   carros  2.136042e+03
24                    motos  2.018449e+02

In [34]:
vif_dt = cidades_sp[[
'area_territorial', 'populacao_estimada', 'pib_per_capita',
'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']]
vif_dt

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
4459,411.987,35111,30010.56,23635.00932,0.750,1152441.22
4460,211.055,3554,27634.98,7229.87018,0.648,86.47
4461,474.554,36648,26549.19,11926.02598,0.606,764287.53
4462,142.673,8221,18974.98,5026.84665,0.716,142654.32
4463,60.126,18808,25554.26,11747.74420,0.675,455273.81
...,...,...,...,...,...,...
5099,183.517,123599,25036.13,21510.04797,0.747,4387.88
5100,420.703,95338,30269.67,31399.26913,0.744,2680060.15
5101,319.056,2752,35478.15,6030.57815,0.674,75934.89
5102,188.727,12418,16939.80,4194.78916,0.655,200611.07
5103,74.144,11407,28302.88,5304.96691,0.695,234026.48

In [35]:
vif_data = pd.DataFrame()
vif_data['variavel'] = vif_dt.columns
vif_data['VIF'] = [variance_inflation_factor(vif_dt.values, i)
    for i in range(len(vif_dt.columns))]
vif_data

                  variavel         VIF
0         area_territorial    2.641944
1       populacao_estimada  122.290850
2           pib_per_capita    3.211689
3  saldo_receitas_despesas   14.509645
4            IDHM_Educacao    4.557094
5                      GDP   92.775711

##02

In [36]:
vif_dt = vif_dt.copy()
for coluna in vif_dt.columns:
    print(coluna)
    out_max = vif_dt[coluna].quantile(0.75) + ((vif_dt[coluna].quantile(0.75) - vif_dt[coluna].quantile(0.25)) * 1.5)
    print(out_max)
    vif_dt[coluna] = vif_dt[coluna].apply(lambda x : out_max if x > out_max else x)
    out_min = vif_dt[coluna].quantile(0.25) - ((vif_dt[coluna].quantile(0.75) - vif_dt[coluna].quantile(0.25)) * 1.5)
    print(out_min)
    vif_dt[coluna] = vif_dt[coluna].apply(lambda x : out_min if x < out_min else x)
vif_dt

area_territorial
1055.3955
-360.27649999999994
populacao_estimada
82042.0
-40322.0
pib_per_capita
60719.0625
-6220.4775000000045
saldo_receitas_despesas
27682.488660000014
-11967.721140000007
IDHM_Educacao
0.8054999999999999
0.5455000000000001
GDP
1858852.7775
-1037734.1625000001

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
4459,411.987,35111.0,30010.56,23635.00932,0.750,1.152441e+06
4460,211.055,3554.0,27634.98,7229.87018,0.648,8.647000e+01
4461,474.554,36648.0,26549.19,11926.02598,0.606,7.642875e+05
4462,142.673,8221.0,18974.98,5026.84665,0.716,1.426543e+05
4463,60.126,18808.0,25554.26,11747.74420,0.675,4.552738e+05
...,...,...,...,...,...,...
5099,183.517,82042.0,25036.13,21510.04797,0.747,4.387880e+03
5100,420.703,82042.0,30269.67,27682.48866,0.744,1.858853e+06
5101,319.056,2752.0,35478.15,6030.57815,0.674,7.593489e+04
5102,188.727,12418.0,16939.80,4194.78916,0.655,2.006111e+05
5103,74.144,11407.0,28302.88,5304.96691,0.695,2.340265e+05

##3

In [37]:
colunas = ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
sel = colunas
cidadesz = vif_dt[sel].copy()
listaz = []
for coluna in colunas:
    if coluna != "cidade":
        print(coluna)
        listaz.insert(0, 'z_'+coluna)
        media = cidadesz[coluna].mean()
        dp = cidadesz[coluna].std()
        cidadesz['z_'+coluna] = cidadesz[coluna].apply(lambda x : (x - media) / dp)
cidadesz['totalz'] = cidadesz[listaz].sum(axis=1)
cidadesz['ranking'] = cidadesz['totalz'].rank(ascending=False)
cidadesz

area_territorial
populacao_estimada
pib_per_capita
saldo_receitas_despesas
IDHM_Educacao
GDP

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
4459,411.987,35111.0,30010.56,23635.00932,0.750,1.152441e+06,0.105491,0.357381,0.079005,1.680111,1.572348,0.998020,4.792355,107.0
4460,211.055,3554.0,27634.98,7229.87018,0.648,8.647000e+01,-0.625118,-0.817923,-0.095393,-0.198925,-0.570365,-0.797222,-3.104946,454.0
4461,474.554,36648.0,26549.19,11926.02598,0.606,7.642875e+05,0.332991,0.414624,-0.175105,0.338970,-1.452659,0.393319,-0.147859,241.0
4462,142.673,8221.0,18974.98,5026.84665,0.716,1.426543e+05,-0.873762,-0.644106,-0.731150,-0.451258,0.858110,-0.575117,-2.417282,390.0
4463,60.126,18808.0,25554.26,11747.74420,0.675,4.552738e+05,-1.173911,-0.249805,-0.248145,0.318550,-0.003177,-0.088090,-1.444578,316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5099,183.517,82042.0,25036.13,21510.04797,0.747,4.387880e+03,-0.725249,2.105271,-0.286183,1.436719,1.509327,-0.790521,3.249364,144.0
5100,420.703,82042.0,30269.67,27682.48866,0.744,1.858853e+06,0.137183,2.105271,0.098027,2.143707,1.446306,2.098531,8.029025,34.0
5101,319.056,2752.0,35478.15,6030.57815,0.674,7.593489e+04,-0.232415,-0.847792,0.480397,-0.336291,-0.024184,-0.679058,-1.639343,326.0
5102,188.727,12418.0,16939.80,4194.78916,0.655,2.006111e+05,-0.706305,-0.487794,-0.880559,-0.546561,-0.423317,-0.484827,-3.529361,500.0
5103,74.144,11407.0,28302.88,5304.96691,0.695,2.340265e+05,-1.122940,-0.525447,-0.046361,-0.419402,0.416963,-0.432769,-2.129956,366.0

In [38]:
cidades_sp = cidades_sp.merge(cidadesz, right_index=True, left_index=True, how = 'left')
cidades_sp

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
4459,AP de Adamantina - Lucélia/SP,Adamantina,SP,-51.073365,-21.688311,451.12,411.987,35111,82.15,30010.56,...,0.750,1.152441e+06,0.105491,0.357381,0.079005,1.680111,1.572348,0.998020,4.792355,107.0
4460,AP de São José do Rio Preto/SP,Adolfo,SP,-49.649721,-21.232730,425.39,211.055,3554,16.85,27634.98,...,0.648,8.647000e+01,-0.625118,-0.817923,-0.095393,-0.198925,-0.570365,-0.797222,-3.104946,454.0
4461,AP de São João da Boa Vista/SP,Aguaí,SP,-46.979693,-22.059684,662.48,474.554,36648,67.72,26549.19,...,0.606,7.642875e+05,0.332991,0.414624,-0.175105,0.338970,-1.452659,0.393319,-0.147859,241.0
4462,AP de São João da Boa Vista/SP,Águas da Prata,SP,-46.716767,-21.934829,832.91,142.673,8221,53.05,18974.98,...,0.716,1.426543e+05,-0.873762,-0.644106,-0.731150,-0.451258,0.858110,-0.575117,-2.417282,390.0
4463,AP de Amparo/SP,Águas de Lindóia,SP,-46.631779,-22.473822,893.17,60.126,18808,287.16,25554.26,...,0.675,4.552738e+05,-1.173911,-0.249805,-0.248145,0.318550,-0.003177,-0.088090,-1.444578,316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5099,AP de Sorocaba/SP,Votorantim,SP,-47.449738,-23.541871,571.63,183.517,123599,591.04,25036.13,...,0.747,4.387880e+03,-0.725249,2.105271,-0.286183,1.436719,1.509327,-0.790521,3.249364,144.0
5100,AP de Votuporanga/SP,Votuporanga,SP,-49.974672,-20.419470,518.33,420.703,95338,201.15,30269.67,...,0.744,1.858853e+06,0.137183,2.105271,0.098027,2.143707,1.446306,2.098531,8.029025,34.0
5101,AP de São José do Rio Preto/SP,Zacarias,SP,-50.055740,-21.050110,415.85,319.056,2752,7.32,35478.15,...,0.674,7.593489e+04,-0.232415,-0.847792,0.480397,-0.336291,-0.024184,-0.679058,-1.639343,326.0
5102,AP de Ourinhos/SP,Chavantes,SP,-49.713936,-23.032006,553.97,188.727,12418,64.40,16939.80,...,0.655,2.006111e+05,-0.706305,-0.487794,-0.880559,-0.546561,-0.423317,-0.484827,-3.529361,500.0
5103,AP de Mogi Guaçu - Mogi Mirim/SP,Estiva Gerbi,SP,-46.953603,-22.274589,624.06,74.144,11407,135.35,28302.88,...,0.695,2.340265e+05,-1.122940,-0.525447,-0.046361,-0.419402,0.416963,-0.432769,-2.129956,366.0

In [39]:
cidades_sp.sort_values(by='ranking')[0:10]

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
5016,AP de São José dos Campos/SP,São José dos Campos,SP,-45.884175,-23.184061,604.88,1099.409,729737,572.96,56638.69,...,0.764,1.858853e+06,2.444989,2.105271,2.033857,2.143707,1.866446,2.098531,12.692800,1.0
5021,AP de São Paulo/SP,São Paulo,SP,-46.570383,-23.567387,783.62,1521.110,12325232,7398.26,57759.39,...,0.725,1.858853e+06,2.444989,2.105271,2.116131,2.143707,1.047173,2.098531,11.955801,2.0
5005,AP de São Carlos/SP,São Carlos,SP,-47.889238,-22.015998,849.66,1136.907,254484,195.15,42568.73,...,0.766,1.858853e+06,2.444989,2.105271,1.000938,2.143707,1.908460,2.098531,11.701896,3.0
4785,AP de Marília/SP,Marília,SP,-49.951646,-22.214933,657.31,1170.515,240590,185.21,32816.72,...,0.776,1.858853e+06,2.444989,2.105271,0.285014,2.143707,2.118530,2.098531,11.196041,4.0
4752,AP de Jundiaí/SP,Jundiaí,SP,-46.885274,-23.187668,760.16,431.207,423006,858.42,100679.50,...,0.768,1.858853e+06,0.175377,2.105271,2.333409,2.143707,1.950474,2.098531,10.806769,5.0
4490,Araçatuba,Araçatuba,SP,-50.439226,-21.205476,403.10,1167.126,198129,155.54,35769.43,...,0.744,1.858853e+06,2.444989,2.105271,0.501781,2.143707,1.446306,2.098531,10.740585,6.0
5063,AP de São José dos Campos/SP,Taubaté,SP,-45.556609,-23.026556,586.08,625.003,317915,445.98,54552.88,...,0.746,1.858853e+06,0.880039,2.105271,1.880731,2.143707,1.488320,2.098531,10.596598,7.0
4946,AP de Ribeirão Preto/SP,Ribeirão Preto,SP,-47.805476,-21.184835,569.83,650.916,711825,928.92,51759.84,...,0.739,1.858853e+06,0.974261,2.105271,1.675686,2.143707,1.341271,2.098531,10.338726,8.0
4951,AP de Rio Claro/SP,Rio Claro,SP,-47.563533,-22.412512,618.99,498.422,208008,373.69,46406.99,...,0.766,1.858853e+06,0.419777,2.105271,1.282717,2.143707,1.908460,2.098531,9.958462,9.0
5003,AP de São Paulo/SP,São Bernardo do Campo,SP,-46.550257,-23.710304,772.84,409.532,844483,1869.36,53998.54,...,0.752,1.858853e+06,0.096565,2.105271,1.840035,2.143707,1.614362,2.098531,9.898470,10.0

In [40]:
cidades_sp.sort_values(by='ranking', ascending=False)[0:10]

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
4512,AP de Bauru/SP,Balbinos,SP,-49.356473,-21.901524,469.66,91.635,5934,40.40,10484.51,...,0.5455,42728.14,-1.059341,-0.729283,-1.354461,-0.899073,-2.723582,-0.730791,-7.496531,615.0
4873,Bragança Paulista,Pedra Bela,SP,-46.442031,-22.791384,1102.27,158.587,6110,36.45,13185.31,...,0.5810,73567.11,-0.815897,-0.722728,-1.156187,-0.909288,-1.977834,-0.682747,-6.264681,614.0
4475,AP de Marília/SP,Álvaro de Carvalho,SP,-49.720609,-22.076375,614.58,153.662,5274,30.36,9666.54,...,0.6050,49.59,-0.833804,-0.753863,-1.414511,-0.854998,-1.473666,-0.797279,-6.128123,613.0
4916,AP de Adamantina - Lucélia/SP,Pracinha,SP,-51.087077,-21.851928,387.37,63.054,4212,45.48,7485.94,...,0.6290,26745.83,-1.163264,-0.793416,-1.574595,-0.847973,-0.969498,-0.755690,-6.104437,612.0
4926,Tatuí,Quadra,SP,-48.052685,-23.301575,619.45,205.672,3854,15.73,24157.62,...,0.5455,90.70,-0.644691,-0.806750,-0.350677,-0.741690,-2.723582,-0.797215,-6.064605,611.0
4933,AP de São José dos Campos/SP,Redenção da Serra,SP,-45.536496,-23.272655,719.27,309.441,3839,12.52,14593.53,...,0.5600,53758.39,-0.267376,-0.807308,-1.052806,-0.782403,-2.418981,-0.713607,-6.042482,610.0
5090,Bragança Paulista,Vargem,SP,-46.411600,-22.884880,832.90,142.595,10692,61.71,11121.64,...,0.5910,103107.44,-0.874045,-0.552076,-1.307688,-0.765808,-1.767764,-0.636727,-5.904108,609.0
4494,AP de Resende/RJ,Arapeí,SP,-44.448107,-22.674799,518.55,156.903,2460,15.89,11594.42,...,0.6120,25888.72,-0.822020,-0.858668,-1.272979,-0.723573,-1.326617,-0.757025,-5.760882,608.0
4947,Avaré,Riversul,SP,-49.436697,-23.831335,564.77,385.878,5443,15.96,11204.04,...,0.5770,59368.25,0.010556,-0.747569,-1.301638,-0.953806,-2.061862,-0.704867,-5.759187,607.0
4539,Itapeva,Bom Sucesso de Itararé,SP,-49.143762,-24.318263,965.03,133.578,3984,26.73,13624.33,...,0.6130,49.40,-0.906832,-0.801908,-1.123958,-0.802353,-1.305610,-0.797280,-5.737940,606.0

##4

In [41]:
regioes = cidades.groupby(['estado','regiao_imediata'])[
    ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
    ].mean().reset_index().copy()
regioes

,estado,regiao_imediata,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
0,AC,API de Cobija/Bolívia - Brasiléia/Brasil,3515.149333,17644.000000,17978.256667,5046.840710,0.498000,135684.486667
1,AC,Cruzeiro do Sul,6388.982600,31854.800000,11518.646000,4978.054280,0.472600,349202.568000
2,AC,Rio Branco,8688.114500,48733.142857,13965.113571,14880.416255,0.435143,185996.187857
3,AL,AP de Maceió/AL,233.634953,44988.209302,16793.270930,9096.449399,0.458163,753781.115349
4,AL,AP de Penedo/AL,465.646500,40847.000000,15125.790000,6566.773315,0.507500,559484.970000
...,...,...,...,...,...,...,...,...
466,TO,Barreiras,2341.909000,16825.000000,13719.940000,6178.088230,0.497000,219249.620000
467,TO,Gurupi,3057.372800,11742.533333,28043.747333,5048.537962,0.579133,286922.452667
468,TO,Palmas,2451.908683,13716.170732,16678.239756,6082.296166,0.528439,67155.964390
469,TO,Paraíso do Tocantins,2614.753938,8291.000000,19530.604375,1754.505953,0.554562,169743.736250
470,TO,Porto Nacional,2132.837000,10628.375000,25639.343750,3852.892429,0.575625,253035.886250

In [42]:
regioes_sp = regioes[regioes['estado'] == 'SP']
regioes_sp

,estado,regiao_imediata,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
398,SP,AP da Baixada Santista/SP,342.301333,160917.111111,23020.103333,62672.728527,0.682444,1.398158e+06
399,SP,AP de Adamantina - Lucélia/SP,264.608667,14018.166667,20277.721667,7315.892248,0.686833,3.238295e+05
400,SP,AP de Americana - Santa Bárbara d´Oeste/SP,159.576667,165788.000000,42520.416667,35247.575960,0.751000,6.059118e+06
401,SP,AP de Amparo/SP,204.872750,32262.000000,33256.257500,11255.099707,0.685000,1.189784e+06
402,SP,AP de Araraquara/SP,417.706200,37742.200000,35485.839333,7145.791648,0.678733,3.938714e+05
...,...,...,...,...,...,...,...,...
456,SP,Registro,999.573727,21849.636364,27406.295455,8792.923816,0.630727,5.531140e+05
457,SP,Sertãozinho,513.443000,81624.666667,36701.866667,40031.844840,0.677667,2.938834e+06
458,SP,São José do Rio Pardo,287.489000,19696.666667,23860.980000,7652.576763,0.654833,5.000209e+05
459,SP,Tatuí,251.370000,31537.000000,22213.770000,10307.797262,0.613000,8.458019e+05
460,SP,Uberaba,335.592000,18134.500000,29453.870000,4594.891790,0.663500,6.336172e+04

In [43]:
colunas = ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
sel = colunas
regioesz = regioes_sp[sel].copy()
listaz = []
for coluna in colunas:
    if (coluna != "estado") & (coluna != "regiao_imediata"):
        print(coluna)
        listaz.insert(0, 'z_'+coluna)
        media = regioesz[coluna].mean()
        dp = regioesz[coluna].std()
        regioesz['z_'+coluna] = regioesz[coluna].apply(lambda x : (x - media) / dp)
regioesz['totalz'] = regioesz[listaz].sum(axis=1)
regioesz['ranking'] = regioesz['totalz'].rank(ascending=False)
regioesz

area_territorial
populacao_estimada
pib_per_capita
saldo_receitas_despesas
IDHM_Educacao
GDP

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
398,342.301333,160917.111111,23020.103333,62672.728527,0.682444,1.398158e+06,-0.285428,1.168859,-0.623339,1.542738,0.337722,-0.083128,2.057423,12.0
399,264.608667,14018.166667,20277.721667,7315.892248,0.686833,3.238295e+05,-0.741175,-0.464455,-0.791579,-0.478608,0.500979,-0.316478,-2.291316,50.0
400,159.576667,165788.000000,42520.416667,35247.575960,0.751000,6.059118e+06,-1.357295,1.223016,0.572968,0.541313,2.887835,0.929258,4.797095,7.0
401,204.872750,32262.000000,33256.257500,11255.099707,0.685000,1.189784e+06,-1.091587,-0.261609,0.004630,-0.334769,0.432783,-0.128388,-1.378940,38.0
402,417.706200,37742.200000,35485.839333,7145.791648,0.678733,3.938714e+05,0.156899,-0.200676,0.141410,-0.484819,0.199677,-0.301264,-0.488775,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,999.573727,21849.636364,27406.295455,8792.923816,0.630727,5.531140e+05,3.570148,-0.377380,-0.354254,-0.424675,-1.586042,-0.266676,0.561121,20.0
457,513.443000,81624.666667,36701.866667,40031.844840,0.677667,2.938834e+06,0.718493,0.287236,0.216011,0.716010,0.159999,0.251515,2.349264,11.0
458,287.489000,19696.666667,23860.980000,7652.576763,0.654833,5.000209e+05,-0.606959,-0.401318,-0.571753,-0.466314,-0.689350,-0.278208,-3.013902,56.0
459,251.370000,31537.000000,22213.770000,10307.797262,0.613000,8.458019e+05,-0.818833,-0.269670,-0.672806,-0.369359,-2.245457,-0.203103,-4.579228,62.0
460,335.592000,18134.500000,29453.870000,4594.891790,0.663500,6.336172e+04,-0.324785,-0.418687,-0.228640,-0.577965,-0.366969,-0.373053,-2.290099,49.0

In [44]:
regioes_sp = regioes_sp.merge(regioesz, right_index=True, left_index=True, how = 'left')
regioes_sp

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
398,SP,AP da Baixada Santista/SP,342.301333,160917.111111,23020.103333,62672.728527,0.682444,1.398158e+06,342.301333,160917.111111,...,0.682444,1.398158e+06,-0.285428,1.168859,-0.623339,1.542738,0.337722,-0.083128,2.057423,12.0
399,SP,AP de Adamantina - Lucélia/SP,264.608667,14018.166667,20277.721667,7315.892248,0.686833,3.238295e+05,264.608667,14018.166667,...,0.686833,3.238295e+05,-0.741175,-0.464455,-0.791579,-0.478608,0.500979,-0.316478,-2.291316,50.0
400,SP,AP de Americana - Santa Bárbara d´Oeste/SP,159.576667,165788.000000,42520.416667,35247.575960,0.751000,6.059118e+06,159.576667,165788.000000,...,0.751000,6.059118e+06,-1.357295,1.223016,0.572968,0.541313,2.887835,0.929258,4.797095,7.0
401,SP,AP de Amparo/SP,204.872750,32262.000000,33256.257500,11255.099707,0.685000,1.189784e+06,204.872750,32262.000000,...,0.685000,1.189784e+06,-1.091587,-0.261609,0.004630,-0.334769,0.432783,-0.128388,-1.378940,38.0
402,SP,AP de Araraquara/SP,417.706200,37742.200000,35485.839333,7145.791648,0.678733,3.938714e+05,417.706200,37742.200000,...,0.678733,3.938714e+05,0.156899,-0.200676,0.141410,-0.484819,0.199677,-0.301264,-0.488775,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,SP,Registro,999.573727,21849.636364,27406.295455,8792.923816,0.630727,5.531140e+05,999.573727,21849.636364,...,0.630727,5.531140e+05,3.570148,-0.377380,-0.354254,-0.424675,-1.586042,-0.266676,0.561121,20.0
457,SP,Sertãozinho,513.443000,81624.666667,36701.866667,40031.844840,0.677667,2.938834e+06,513.443000,81624.666667,...,0.677667,2.938834e+06,0.718493,0.287236,0.216011,0.716010,0.159999,0.251515,2.349264,11.0
458,SP,São José do Rio Pardo,287.489000,19696.666667,23860.980000,7652.576763,0.654833,5.000209e+05,287.489000,19696.666667,...,0.654833,5.000209e+05,-0.606959,-0.401318,-0.571753,-0.466314,-0.689350,-0.278208,-3.013902,56.0
459,SP,Tatuí,251.370000,31537.000000,22213.770000,10307.797262,0.613000,8.458019e+05,251.370000,31537.000000,...,0.613000,8.458019e+05,-0.818833,-0.269670,-0.672806,-0.369359,-2.245457,-0.203103,-4.579228,62.0
460,SP,Uberaba,335.592000,18134.500000,29453.870000,4594.891790,0.663500,6.336172e+04,335.592000,18134.500000,...,0.663500,6.336172e+04,-0.324785,-0.418687,-0.228640,-0.577965,-0.366969,-0.373053,-2.290099,49.0

In [45]:
regioes_sp.sort_values(by='ranking')[0:3]

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
435,SP,AP de São Paulo/SP,334.374478,678099.695652,35760.135217,161868.167194,0.693522,3.461392e+07,334.374478,678099.695652,...,0.693522,3.461392e+07,-0.331927,6.919216,0.158238,5.164843,0.749772,7.131516,19.791659,1.0
419,SP,AP de Jundiaí/SP,231.995286,107602.857143,108168.820000,58075.261667,0.690857,9.624365e+06,231.995286,107602.857143,...,0.690857,9.624365e+06,-0.932486,0.576078,4.600372,1.374862,0.650655,1.703649,7.973130,2.0
406,SP,AP de Campinas/SP,190.005462,167702.307692,82837.647692,47645.520499,0.695385,9.593546e+06,190.005462,167702.307692,...,0.695385,9.593546e+06,-1.178799,1.244301,3.046353,0.994022,0.819067,1.696955,6.621899,3.0

In [46]:
regioes_sp.sort_values(by='ranking', ascending=False)[0:3]

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
427,SP,AP de Resende/RJ,156.9030,2460.0,11594.42,2649.370190,0.6120,25888.720,156.9030,2460.0,...,0.6120,25888.720,-1.372979,-0.592966,-1.324283,-0.649006,-2.282655,-0.381192,-6.603080,63.0
459,SP,Tatuí,251.3700,31537.0,22213.77,10307.797262,0.6130,845801.852,251.3700,31537.0,...,0.6130,845801.852,-0.818833,-0.269670,-0.672806,-0.369359,-2.245457,-0.203103,-4.579228,62.0
455,SP,Penápolis,348.0094,19005.4,21859.51,5690.977134,0.6282,458891.576,348.0094,19005.4,...,0.6282,458891.576,-0.251944,-0.409004,-0.694539,-0.537942,-1.680051,-0.287142,-3.860621,61.0

#AM

##01

In [47]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [48]:
cidades = pd.read_excel('BRCidadesRegiao.xlsx')
cidades

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,municipio,codigo,area_territorial,populacao_estimada,densidade_demografica,escolarizacao,idhm,...,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos,regiao_imediata
0,0,0,0,Açailândia,2100055,5808.304,113121,17.92,97.7,0.672,...,488799.22,779.84,364811.85,1999546.31,110543,18088.40,1334,9935.0,24208.0,AP de Imperatriz/MA
1,1,1,1,Afonso Cunha,2100105,371.338,6578,15.90,96.6,0.529,...,1600.00,8.46,21500.22,35459.24,6421,5522.39,14,61.0,519.0,AP de Teresina/PI
2,2,2,2,Água Doce do Maranhão,2100154,443.267,12652,26.13,98.3,0.500,...,3555.39,19612.05,39464.68,73287.14,12360,5929.38,57,61.0,495.0,Parnaíba
3,3,3,3,Alcântara,2100204,1168.246,22112,14.70,96.8,0.573,...,7861.43,29391.33,61419.05,117494.58,21667,5422.74,124,327.0,1282.0,AP de São Luís/MA
4,4,4,4,Aldeias Altas,2100303,1942.121,26757,12.33,94.9,0.513,...,9704.76,38558.93,81.62,169251.79,26115,6481.02,91,327.0,2271.0,Caxias
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531,5531,5531,5955,Pacaraima,1400456,8025.045,18913,1.30,93.0,0.650,...,8161.28,29966.90,114622.75,164518.39,12144,13547.30,108,979.0,379.0,Boa Vista
5532,5532,5532,5956,Rorainópolis,1400472,33579.739,30782,0.72,95.5,0.619,...,36173.93,97.97,262297.53,506131.66,27756,18235.04,264,1214.0,3990.0,Boa Vista
5533,5533,5533,5957,São João da Baliza,1400506,4284.505,8348,1.58,93.6,0.655,...,10158.54,26606.34,74719.19,140.28,7629,18387.38,42,262.0,1441.0,Boa Vista
5534,5534,5534,5958,São Luiz,1400605,1526.898,8110,4.42,92.0,0.649,...,4084.71,15.87,70184.88,110589.67,7503,14739.39,51,257.0,1244.0,Boa Vista
5535,5535,5535,5959,Uiramutã,1400704,8113.598,10789,1.04,60.2,0.453,...,1189.55,4.75,87.28,103680.32,9664,10728.51,8,7.0,25.0,Boa Vista

In [49]:
cidades = cidades[['regiao_imediata', 'cidade', 'estado', 'longitude', 'latitude', 'altitude',
'area_territorial', 'populacao_estimada', 'densidade_demografica', 'pib_per_capita', 'receitas_realizadas',
'despesas_empenhadas', 'saldo_receitas_despesas', 'unidades', 'unidades_urbanas', 'unidades_rurais', 'area_plantada', 'producao_graos',
'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 'GVA_agropecuaria', 'GVA_industria', 'GVA_Servicos', 'GVA_publico',
'GDP', 'GDP_populacao', 'GDP_per_capita', 'estabelecimentos', 'carros', 'motos'
]].copy()

In [50]:
cidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5536 entries, 0 to 5535
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   regiao_imediata          5536 non-null   object
 1   cidade                   5536 non-null   object
 2   estado                   5536 non-null   object
 3   longitude                5529 non-null   float64
 4   latitude                 5529 non-null   float64
 5   altitude                 5529 non-null   float64
 6   area_territorial         5536 non-null   float64
 7   populacao_estimada       5536 non-null   int64
 8   densidade_demografica    5531 non-null   float64
 9   pib_per_capita           5536 non-null   float64
 10  receitas_realizadas      5514 non-null   float64
 11  despesas_empenhadas      5514 non-null   float64
 12  saldo_receitas_despesas  5514 non-null   float64
 13  unidades                 5529 non-null   float64
 14  unidades_urbanas         5529 non-null   float64
 15  unidades_rurais          5458 non-null   float64
 16  area_plantada            5536 non-null   int64
 17  producao_graos           5536 non-null   int64
 18  IDHM_Renda               5530 non-null   float64
 19  IDHM_Longevidade         5530 non-null   float64
 20  IDHM_Educacao            5530 non-null   float64
 21  GVA_agropecuaria         5536 non-null   float64
 22  GVA_industria            5536 non-null   float64
 23  GVA_Servicos             5536 non-null   float64
 24  GVA_publico              5536 non-null   float64
 25  GDP                      5536 non-null   float64
 26  GDP_populacao            5536 non-null   int64
 27  GDP_per_capita           5536 non-null   float64
 28  estabelecimentos         5536 non-null   int64
 29  carros                   5528 non-null   float64
 30  motos                    5528 non-null   float64
dtypes: float64(23), int64(5), object(3)
memory usage: 1.3+ MB

In [51]:
cidades.replace([np.inf, -np.inf], np.nan, inplace=True)
cidades.dropna(inplace=True)
cidades

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
0,AP de Imperatriz/MA,Açailândia,MA,-47.506665,-4.951377,229.05,5808.304,113121,17.92,19780.01,...,159853.84,488799.22,779.84,364811.85,1999546.31,110543,18088.40,1334,9935.0,24208.0
1,AP de Teresina/PI,Afonso Cunha,MA,-43.320869,-4.135015,67.20,371.338,6578,15.90,6934.67,...,2461.41,1600.00,8.46,21500.22,35459.24,6421,5522.39,14,61.0,519.0
2,Parnaíba,Água Doce do Maranhão,MA,-42.115551,-2.840278,10.44,443.267,12652,26.13,5895.85,...,8.10,3555.39,19612.05,39464.68,73287.14,12360,5929.38,57,61.0,495.0
3,AP de São Luís/MA,Alcântara,MA,-44.417013,-2.403277,29.72,1168.246,22112,14.70,5387.80,...,14464.15,7861.43,29391.33,61419.05,117494.58,21667,5422.74,124,327.0,1282.0
4,Caxias,Aldeias Altas,MA,-43.468735,-4.630779,80.49,1942.121,26757,12.33,6614.18,...,31.99,9704.76,38558.93,81.62,169251.79,26115,6481.02,91,327.0,2271.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5529,Boa Vista,Mucajaí,RR,-60.911519,2.479772,69.63,12337.851,18172,1.19,17804.20,...,39103.32,13137.27,47561.62,156797.76,270.95,16618,16304.33,129,867.0,2480.0
5530,Boa Vista,Normandia,RR,-59.635206,3.882978,102.78,6959.868,11532,1.28,14108.20,...,16966.21,2.26,11743.00,97667.78,129666.02,10339,12541.45,18,140.0,432.0
5532,Boa Vista,Rorainópolis,RR,-60.425060,0.937195,83.80,33579.739,30782,0.72,18832.65,...,62063.98,36173.93,97.97,262297.53,506131.66,27756,18235.04,264,1214.0,3990.0
5533,Boa Vista,São João da Baliza,RR,-59.906044,0.947157,121.25,4284.505,8348,1.58,20041.66,...,13886.89,10158.54,26606.34,74719.19,140.28,7629,18387.38,42,262.0,1441.0
5534,Boa Vista,São Luiz,RR,-60.028267,1.018112,116.35,1526.898,8110,4.42,15710.68,...,16533.59,4084.71,15.87,70184.88,110589.67,7503,14739.39,51,257.0,1244.0

In [52]:
cidades['estado'].unique()

array(['MA', 'RS', 'BA', 'PR', 'ES', 'MT', 'AC', 'TO', 'SE', 'PA', 'PI',
       'GO', 'SC', 'CE', 'AP', 'RO', 'MS', 'AM', 'MG', 'PE', 'DF', 'RN',
       'SP', 'AL', 'PB', 'RJ', 'RR'], dtype=object)

In [53]:
cidades_am = cidades[cidades['estado'] == 'AM'].copy()
cidades_am

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
3198,Manaus,Alvarães,AM,-64.813535,-3.216584,46.12,5923.461,16220,2.38,10000.80,...,62448.57,5.48,20107.65,58156.74,147946.14,15729,9405.95,37,16.0,571.0
3199,Manaus,Amaturá,AM,-68.209615,-3.366805,73.45,4754.109,11736,1.99,7186.35,...,6291.46,2064.35,11805.21,44683.95,66231.61,11047,5995.44,14,5.0,273.0
3200,Manaus,Anamã,AM,-61.405903,-3.576370,21.61,2446.121,13956,4.16,8330.15,...,32313.26,3165.58,13.85,44.09,95317.69,12653,7533.21,19,5.0,145.0
3201,Manaus,Anori,AM,-61.658955,-3.745386,20.35,6036.380,21477,2.82,9549.01,...,79416.73,4752.07,20473.70,70.73,177193.02,19749,8972.25,76,17.0,395.0
3202,AP de Porto Velho/RO,Apuí,AM,-59.885666,-7.197870,132.98,54240.556,22359,0.33,9037.65,...,60353.83,12500.93,35643.73,74532.05,185275.03,21031,8809.62,166,327.0,2458.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,Manaus,Tefé,AM,-64.708420,-3.348372,46.58,23692.223,59547,2.59,12008.83,...,162.06,55008.85,173837.06,235508.38,650319.05,62230,10450.25,426,943.0,9869.0
3256,Manaus,Tonantins,AM,-67.776482,-2.861091,66.10,6446.894,18897,2.66,6591.02,...,14712.69,3468.59,19318.69,76998.22,116885.75,18632,6273.39,31,2.0,454.0
3257,Manaus,Uarini,AM,-65.155346,-2.983609,42.59,10274.677,13690,1.16,13881.45,...,83844.30,6724.89,24808.67,57828.15,175838.41,13276,13244.83,27,3.0,473.0
3258,Manaus,Urucará,AM,-57.759828,-2.536612,17.71,27901.962,16130,0.61,17566.03,...,192125.15,5.95,25630.53,69.25,296566.66,17065,17378.65,133,30.0,630.0
3259,Manaus,Urucurituba,AM,-58.159641,-3.134633,23.07,2886.494,23585,6.14,6450.77,...,21706.24,3916.31,20792.43,73583.64,121981.50,21650,5634.25,49,23.0,510.0

In [54]:
vif_dt = cidades_am[[
'area_territorial', 'populacao_estimada', 'densidade_demografica', 'pib_per_capita', 'receitas_realizadas',
'despesas_empenhadas', 'saldo_receitas_despesas', 'unidades', 'unidades_urbanas', 'unidades_rurais', 'area_plantada', 'producao_graos',
'IDHM_Renda', 'IDHM_Longevidade', 'IDHM_Educacao', 'GVA_agropecuaria', 'GVA_industria', 'GVA_Servicos', 'GVA_publico',
'GDP', 'GDP_populacao', 'GDP_per_capita', 'estabelecimentos', 'carros', 'motos'
]]
vif_dt

,area_territorial,populacao_estimada,densidade_demografica,pib_per_capita,receitas_realizadas,despesas_empenhadas,saldo_receitas_despesas,unidades,unidades_urbanas,unidades_rurais,...,GVA_agropecuaria,GVA_industria,GVA_Servicos,GVA_publico,GDP,GDP_populacao,GDP_per_capita,estabelecimentos,carros,motos
3198,5923.461,16220,2.38,10000.80,38845.40139,30986.94366,7858.45773,2335.0,1367.0,968.0,...,62448.57,5.48,20107.65,58156.74,147946.14,15729,9405.95,37,16.0,571.0
3199,4754.109,11736,1.99,7186.35,28640.36058,28695.24859,-54.88801,1429.0,952.0,477.0,...,6291.46,2064.35,11805.21,44683.95,66231.61,11047,5995.44,14,5.0,273.0
3200,2446.121,13956,4.16,8330.15,28005.85764,22667.93379,5337.92385,1807.0,809.0,998.0,...,32313.26,3165.58,13.85,44.09,95317.69,12653,7533.21,19,5.0,145.0
3201,6036.380,21477,2.82,9549.01,40989.54516,35525.43595,5464.10921,2981.0,2063.0,918.0,...,79416.73,4752.07,20473.70,70.73,177193.02,19749,8972.25,76,17.0,395.0
3202,54240.556,22359,0.33,9037.65,38939.07821,32864.89870,6074.17951,4614.0,2721.0,1893.0,...,60353.83,12500.93,35643.73,74532.05,185275.03,21031,8809.62,166,327.0,2458.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,23692.223,59547,2.59,12008.83,142248.58010,134280.50525,7968.07485,12073.0,10025.0,2048.0,...,162.06,55008.85,173837.06,235508.38,650319.05,62230,10450.25,426,943.0,9869.0
3256,6446.894,18897,2.66,6591.02,44853.67132,39604.09608,5249.57524,2119.0,1438.0,681.0,...,14712.69,3468.59,19318.69,76998.22,116885.75,18632,6273.39,31,2.0,454.0
3257,10274.677,13690,1.16,13881.45,36758.97347,34568.19759,2190.77588,2113.0,1283.0,830.0,...,83844.30,6724.89,24808.67,57828.15,175838.41,13276,13244.83,27,3.0,473.0
3258,27901.962,16130,0.61,17566.03,48232.76259,39612.23523,8620.52736,3416.0,2053.0,1363.0,...,192125.15,5.95,25630.53,69.25,296566.66,17065,17378.65,133,30.0,630.0
3259,2886.494,23585,6.14,6450.77,40807.25155,37492.36471,3314.88684,3310.0,1926.0,1384.0,...,21706.24,3916.31,20792.43,73583.64,121981.50,21650,5634.25,49,23.0,510.0

In [55]:
vif_data = pd.DataFrame()
vif_data['variavel'] = vif_dt.columns
vif_data['VIF'] = [variance_inflation_factor(vif_dt.values, i)
    for i in range(len(vif_dt.columns))]
round(vif_data,4)

C:\Users\H4nzo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                   variavel           VIF
0          area_territorial  7.134300e+00
1        populacao_estimada  1.461091e+05
2     densidade_demografica  1.523889e+02
3            pib_per_capita  1.267717e+02
4       receitas_realizadas           inf
5       despesas_empenhadas           inf
6   saldo_receitas_despesas           inf
7                  unidades  4.130606e+11
8          unidades_urbanas  4.059491e+11
9           unidades_rurais  7.247970e+08
10            area_plantada  2.993090e+01
11           producao_graos  4.005640e+01
12               IDHM_Renda  6.794807e+02
13         IDHM_Longevidade  4.998670e+02
14            IDHM_Educacao  8.625770e+01
15         GVA_agropecuaria  3.740610e+01
16            GVA_industria  2.606476e+04
17             GVA_Servicos  2.023180e+01
18              GVA_publico  1.193650e+01
19                      GDP  9.076138e+03
20            GDP_populacao  2.112384e+05
21           GDP_per_capita  2.002012e+02
22         estabelecimentos  2.924158e+03
23                   carros  4.378730e+04
24                    motos  1.326794e+03

In [56]:
vif_dt = cidades_am[[
'area_territorial', 'populacao_estimada', 'pib_per_capita',
'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']]
vif_dt

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
3198,5923.461,16220,10000.80,7858.45773,0.377,147946.14
3199,4754.109,11736,7186.35,-54.88801,0.455,66231.61
3200,2446.121,13956,8330.15,5337.92385,0.526,95317.69
3201,6036.380,21477,9549.01,5464.10921,0.433,177193.02
3202,54240.556,22359,9037.65,6074.17951,0.540,185275.03
...,...,...,...,...,...,...
3255,23692.223,59547,12008.83,7968.07485,0.511,650319.05
3256,6446.894,18897,6591.02,5249.57524,0.416,116885.75
3257,10274.677,13690,13881.45,2190.77588,0.378,175838.41
3258,27901.962,16130,17566.03,8620.52736,0.575,296566.66
3259,2886.494,23585,6450.77,3314.88684,0.487,121981.50

In [57]:
vif_data = pd.DataFrame()
vif_data['variavel'] = vif_dt.columns
vif_data['VIF'] = [variance_inflation_factor(vif_dt.values, i)
    for i in range(len(vif_dt.columns))]
vif_data

                  variavel         VIF
0         area_territorial    1.868790
1       populacao_estimada  275.378739
2           pib_per_capita   10.996835
3  saldo_receitas_despesas   73.244309
4            IDHM_Educacao   10.191611
5                      GDP  311.582405

##02

In [58]:
vif_dt = vif_dt.copy()
for coluna in vif_dt.columns:
    print(coluna)
    out_max = vif_dt[coluna].quantile(0.75) + ((vif_dt[coluna].quantile(0.75) - vif_dt[coluna].quantile(0.25)) * 1.5)
    print(out_max)
    vif_dt[coluna] = vif_dt[coluna].apply(lambda x : out_max if x > out_max else x)
    out_min = vif_dt[coluna].quantile(0.25) - ((vif_dt[coluna].quantile(0.75) - vif_dt[coluna].quantile(0.25)) * 1.5)
    print(out_min)
    vif_dt[coluna] = vif_dt[coluna].apply(lambda x : out_min if x < out_min else x)
vif_dt

area_territorial
82781.14499999999
-39986.54699999999
populacao_estimada
75078.125
-17834.875
pib_per_capita
18509.708749999998
420.17875000000095
saldo_receitas_despesas
14497.584552500015
-2918.7554275000116
IDHM_Educacao
0.6497499999999999
0.21375
GDP
510101.3349999999
-130110.02499999995

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
3198,5923.461,16220.0,10000.80,7858.45773,0.377,147946.140
3199,4754.109,11736.0,7186.35,-54.88801,0.455,66231.610
3200,2446.121,13956.0,8330.15,5337.92385,0.526,95317.690
3201,6036.380,21477.0,9549.01,5464.10921,0.433,177193.020
3202,54240.556,22359.0,9037.65,6074.17951,0.540,185275.030
...,...,...,...,...,...,...
3255,23692.223,59547.0,12008.83,7968.07485,0.511,510101.335
3256,6446.894,18897.0,6591.02,5249.57524,0.416,116885.750
3257,10274.677,13690.0,13881.45,2190.77588,0.378,175838.410
3258,27901.962,16130.0,17566.03,8620.52736,0.575,296566.660
3259,2886.494,23585.0,6450.77,3314.88684,0.487,121981.500

##3

In [59]:
colunas = ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
sel = colunas
cidadesz = vif_dt[sel].copy()
listaz = []
for coluna in colunas:
    if coluna != "cidade":
        print(coluna)
        listaz.insert(0, 'z_'+coluna)
        media = cidadesz[coluna].mean()
        dp = cidadesz[coluna].std()
        cidadesz['z_'+coluna] = cidadesz[coluna].apply(lambda x : (x - media) / dp)
cidadesz['totalz'] = cidadesz[listaz].sum(axis=1)
cidadesz['ranking'] = cidadesz['totalz'].rank(ascending=False)
cidadesz

area_territorial
populacao_estimada
pib_per_capita
saldo_receitas_despesas
IDHM_Educacao
GDP

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
3198,5923.461,16220.0,10000.80,7858.45773,0.377,147946.140,-0.768434,-0.795337,0.055538,0.395302,-0.716567,-0.359255,-2.188754,42.0
3199,4754.109,11736.0,7186.35,-54.88801,0.455,66231.610,-0.818014,-1.026766,-0.728305,-1.498042,0.218048,-0.905039,-4.758118,62.0
3200,2446.121,13956.0,8330.15,5337.92385,0.526,95317.690,-0.915871,-0.912187,-0.409749,-0.207760,1.068788,-0.710769,-2.087548,40.0
3201,6036.380,21477.0,9549.01,5464.10921,0.433,177193.020,-0.763646,-0.524011,-0.070289,-0.177569,-0.045562,-0.163911,-1.744987,36.0
3202,54240.556,22359.0,9037.65,6074.17951,0.540,185275.030,1.280184,-0.478488,-0.212706,-0.031604,1.236539,-0.109930,1.683995,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,23692.223,59547.0,12008.83,7968.07485,0.511,510101.335,-0.015048,1.440871,0.614787,0.421529,0.889054,2.059636,5.410828,4.0
3256,6446.894,18897.0,6591.02,5249.57524,0.416,116885.750,-0.746241,-0.657170,-0.894108,-0.228898,-0.249260,-0.566712,-3.342389,52.0
3257,10274.677,13690.0,13881.45,2190.77588,0.378,175838.410,-0.583945,-0.925916,1.136323,-0.960745,-0.704585,-0.172958,-2.211826,43.0
3258,27901.962,16130.0,17566.03,8620.52736,0.575,296566.660,0.163442,-0.799982,2.162502,0.577635,1.655918,0.633404,4.392919,9.0
3259,2886.494,23585.0,6450.77,3314.88684,0.487,121981.500,-0.897200,-0.415212,-0.933168,-0.691791,0.601480,-0.532677,-2.868568,47.0

In [60]:
cidades_am = cidades_am.merge(cidadesz, right_index=True, left_index=True, how = 'left')
cidades_am

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
3198,Manaus,Alvarães,AM,-64.813535,-3.216584,46.12,5923.461,16220,2.38,10000.80,...,0.377,147946.140,-0.768434,-0.795337,0.055538,0.395302,-0.716567,-0.359255,-2.188754,42.0
3199,Manaus,Amaturá,AM,-68.209615,-3.366805,73.45,4754.109,11736,1.99,7186.35,...,0.455,66231.610,-0.818014,-1.026766,-0.728305,-1.498042,0.218048,-0.905039,-4.758118,62.0
3200,Manaus,Anamã,AM,-61.405903,-3.576370,21.61,2446.121,13956,4.16,8330.15,...,0.526,95317.690,-0.915871,-0.912187,-0.409749,-0.207760,1.068788,-0.710769,-2.087548,40.0
3201,Manaus,Anori,AM,-61.658955,-3.745386,20.35,6036.380,21477,2.82,9549.01,...,0.433,177193.020,-0.763646,-0.524011,-0.070289,-0.177569,-0.045562,-0.163911,-1.744987,36.0
3202,AP de Porto Velho/RO,Apuí,AM,-59.885666,-7.197870,132.98,54240.556,22359,0.33,9037.65,...,0.540,185275.030,1.280184,-0.478488,-0.212706,-0.031604,1.236539,-0.109930,1.683995,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3255,Manaus,Tefé,AM,-64.708420,-3.348372,46.58,23692.223,59547,2.59,12008.83,...,0.511,510101.335,-0.015048,1.440871,0.614787,0.421529,0.889054,2.059636,5.410828,4.0
3256,Manaus,Tonantins,AM,-67.776482,-2.861091,66.10,6446.894,18897,2.66,6591.02,...,0.416,116885.750,-0.746241,-0.657170,-0.894108,-0.228898,-0.249260,-0.566712,-3.342389,52.0
3257,Manaus,Uarini,AM,-65.155346,-2.983609,42.59,10274.677,13690,1.16,13881.45,...,0.378,175838.410,-0.583945,-0.925916,1.136323,-0.960745,-0.704585,-0.172958,-2.211826,43.0
3258,Manaus,Urucará,AM,-57.759828,-2.536612,17.71,27901.962,16130,0.61,17566.03,...,0.575,296566.660,0.163442,-0.799982,2.162502,0.577635,1.655918,0.633404,4.392919,9.0
3259,Manaus,Urucurituba,AM,-58.159641,-3.134633,23.07,2886.494,23585,6.14,6450.77,...,0.487,121981.500,-0.897200,-0.415212,-0.933168,-0.691791,0.601480,-0.532677,-2.868568,47.0

In [61]:
cidades_am.sort_values(by='ranking')[0:10]

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
3235,Manaus,Manaus,AM,-60.023335,-3.134691,34.36,11401.092,2219580,158.06,34362.71,...,0.64975,510101.335,-0.536186,2.242469,2.425323,1.983777,2.551591,2.059636,10.726609,1.0
3217,Manaus,Coari,AM,-63.142184,-4.084219,37.94,57970.768,85910,1.31,15580.35,...,0.42500,510101.335,1.438343,2.242469,1.609478,1.983777,-0.141420,2.059636,9.192282,2.0
3223,AP de Porto Velho/RO,Humaitá,AM,-63.026698,-7.512225,55.02,33111.143,56144,1.34,10400.50,...,0.45100,493743.750,0.384309,1.265234,0.166857,1.979708,0.170119,1.950381,5.916607,3.0
3255,Manaus,Tefé,AM,-64.708420,-3.348372,46.58,23692.223,59547,2.59,12008.83,...,0.51100,510101.335,-0.015048,1.440871,0.614787,0.421529,0.889054,2.059636,5.410828,4.0
3233,Manaus,Manacapuru,AM,-60.620589,-3.298278,26.97,7336.579,98502,11.62,15811.37,...,0.48100,510101.335,-0.708519,2.242469,1.673818,-0.474246,0.529586,2.059636,5.322745,5.0
3254,Manaus,Tapauá,AM,-63.187095,-5.624224,50.65,84946.035,17015,0.21,18896.71,...,0.35500,216816.330,2.490289,-0.754305,2.425323,1.983777,-0.980177,0.100740,5.265646,6.0
3236,Manaus,Manicoré,AM,-61.299248,-5.813205,44.35,48315.023,56583,0.97,9065.26,...,0.45600,477439.430,1.028945,1.287892,-0.205016,1.074027,0.230030,1.841482,5.257360,7.0
3243,Parintins,Parintins,AM,-56.736292,-2.627053,17.33,5956.047,115363,17.14,9593.89,...,0.60500,510101.335,-0.767052,2.242469,-0.057789,-0.830527,2.015385,2.059636,4.662121,8.0
3258,Manaus,Urucará,AM,-57.759828,-2.536612,17.71,27901.962,16130,0.61,17566.03,...,0.57500,296566.660,0.163442,-0.799982,2.162502,0.577635,1.655918,0.633404,4.392919,9.0
3253,Tabatinga,Tabatinga,AM,-69.946244,-4.231884,63.00,3266.062,67182,16.21,7255.96,...,0.50500,414692.110,-0.881106,1.834931,-0.708918,1.576819,0.817160,1.422383,4.061270,10.0

In [62]:
cidades_am.sort_values(by='ranking', ascending=False)[0:10]

,regiao_imediata,cidade,estado,longitude,latitude,altitude,area_territorial_x,populacao_estimada_x,densidade_demografica,pib_per_capita_x,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
3199,Manaus,Amaturá,AM,-68.209615,-3.366805,73.45,4754.109,11736,1.99,7186.35,...,0.455,66231.61,-0.818014,-1.026766,-0.728305,-1.498042,0.218048,-0.905039,-4.758118,62.0
3230,Manaus,Juruá,AM,-66.063042,-3.474890,64.38,19442.548,15106,0.56,7145.78,...,0.376,88.75,-0.195232,-0.852833,-0.739604,-0.810448,-0.728550,-1.346818,-4.673484,61.0
3227,Manaus,Itamarati,AM,-68.247917,-6.437799,112.65,25260.429,7814,0.32,11536.94,...,0.266,84142.54,0.051443,-1.229190,0.483362,-0.760330,-2.046597,-0.785409,-4.286722,60.0
3224,Cruzeiro do Sul,Ipixuna,AM,-71.694418,-7.050980,156.33,12109.779,30436,1.85,4942.15,...,0.302,125078.21,-0.506138,-0.061616,-1.353329,-0.008785,-1.615236,-0.511994,-4.057097,59.0
3248,Manaus,Santo Antônio do Içá,AM,-67.946485,-3.107486,67.36,12366.143,21243,1.99,7477.54,...,0.353,161022.84,-0.495268,-0.536088,-0.647206,-0.643939,-1.004141,-0.271914,-3.598556,58.0
3208,Manaus,Beruri,AM,-61.371571,-3.894513,22.86,17472.779,20093,0.90,7450.96,...,0.346,121837.27,-0.278749,-0.595442,-0.654609,-0.440832,-1.088017,-0.533640,-3.591291,57.0
3237,Manaus,Maraã,AM,-65.574284,-1.866437,47.14,16830.827,18261,1.04,8325.67,...,0.348,144220.39,-0.305968,-0.689996,-0.410997,-0.712511,-1.064053,-0.384140,-3.567664,56.0
3221,Manaus,Fonte Boa,AM,-66.096503,-2.512271,58.15,12155.427,17005,1.88,8507.12,...,0.400,149829.34,-0.504202,-0.754821,-0.360462,-1.142772,-0.440976,-0.346677,-3.549910,55.0
3222,Cruzeiro do Sul,Guajará,AM,-72.582431,-7.547774,182.75,7583.534,16937,1.84,7088.42,...,0.387,109928.37,-0.698048,-0.758331,-0.755579,-0.066198,-0.596745,-0.613182,-3.488082,54.0
3247,Manaus,Santa Isabel do Rio Negro,AM,-65.020023,-0.416695,34.12,62800.078,25865,0.29,5159.77,...,0.323,128352.82,1.643103,-0.297536,-1.292720,-1.557917,-1.363609,-0.490122,-3.358801,53.0

##4

In [63]:
regioes = cidades.groupby(['estado','regiao_imediata'])[
    ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
    ].mean().reset_index().copy()
regioes

,estado,regiao_imediata,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
0,AC,API de Cobija/Bolívia - Brasiléia/Brasil,3515.149333,17644.000000,17978.256667,5046.840710,0.498000,135684.486667
1,AC,Cruzeiro do Sul,6388.982600,31854.800000,11518.646000,4978.054280,0.472600,349202.568000
2,AC,Rio Branco,8688.114500,48733.142857,13965.113571,14880.416255,0.435143,185996.187857
3,AL,AP de Maceió/AL,233.634953,44988.209302,16793.270930,9096.449399,0.458163,753781.115349
4,AL,AP de Penedo/AL,465.646500,40847.000000,15125.790000,6566.773315,0.507500,559484.970000
...,...,...,...,...,...,...,...,...
466,TO,Barreiras,2341.909000,16825.000000,13719.940000,6178.088230,0.497000,219249.620000
467,TO,Gurupi,3057.372800,11742.533333,28043.747333,5048.537962,0.579133,286922.452667
468,TO,Palmas,2451.908683,13716.170732,16678.239756,6082.296166,0.528439,67155.964390
469,TO,Paraíso do Tocantins,2614.753938,8291.000000,19530.604375,1754.505953,0.554562,169743.736250
470,TO,Porto Nacional,2132.837000,10628.375000,25639.343750,3852.892429,0.575625,253035.886250

In [64]:
regioes_am = regioes[regioes['estado'] == 'AM']
regioes_am

,estado,regiao_imediata,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP
12,AM,AP de Porto Velho/RO,43675.849500,39251.500000,9719.075000,10277.379735,0.495500,3.395094e+05
13,AM,Cruzeiro do Sul,9846.656500,23686.500000,6015.285000,6049.571630,0.344500,1.175033e+05
14,AM,Itacoatiara,6307.644000,55965.500000,15135.410000,2422.155510,0.559000,5.002250e+04
15,AM,Manaus,26389.796021,76318.361702,10499.978936,14578.564730,0.434936,1.712454e+06
16,AM,Parintins,10031.543500,68403.000000,8195.835000,4610.252945,0.554000,5.791106e+05
17,AM,Rio Branco,23689.680333,24850.000000,8662.276667,5961.425903,0.373667,1.972961e+05
18,AM,Tabatinga,27013.762000,42897.000000,6904.095000,9505.650233,0.405250,2.639306e+05

In [65]:
colunas = ['area_territorial', 'populacao_estimada', 'pib_per_capita', 'saldo_receitas_despesas', 'IDHM_Educacao', 'GDP']
sel = colunas
regioesz = regioes_am[sel].copy()
listaz = []
for coluna in colunas:
    if (coluna != "estado") & (coluna != "regiao_imediata"):
        print(coluna)
        listaz.insert(0, 'z_'+coluna)
        media = regioesz[coluna].mean()
        dp = regioesz[coluna].std()
        regioesz['z_'+coluna] = regioesz[coluna].apply(lambda x : (x - media) / dp)
regioesz['totalz'] = regioesz[listaz].sum(axis=1)
regioesz['ranking'] = regioesz['totalz'].rank(ascending=False)
regioesz

area_territorial
populacao_estimada
pib_per_capita
saldo_receitas_despesas
IDHM_Educacao
GDP

,area_territorial,populacao_estimada,pib_per_capita,saldo_receitas_despesas,IDHM_Educacao,GDP,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
12,43675.849500,39251.500000,9719.075000,10277.379735,0.495500,3.395094e+05,1.716900,-0.395545,0.138397,0.647575,0.503709,-0.219101,2.391934,2.0
13,9846.656500,23686.500000,6015.285000,6049.571630,0.344500,1.175033e+05,-0.843747,-1.156817,-1.098228,-0.386309,-1.261334,-0.604595,-5.351030,7.0
14,6307.644000,55965.500000,15135.410000,2422.155510,0.559000,5.002250e+04,-1.111627,0.421923,1.946808,-1.273371,1.245961,-0.721770,0.507924,3.0
15,26389.796021,76318.361702,10499.978936,14578.564730,0.434936,1.712454e+06,0.408459,1.417365,0.399126,1.699403,-0.204223,2.164899,5.885029,1.0
16,10031.543500,68403.000000,8195.835000,4610.252945,0.554000,5.791106e+05,-0.829753,1.030231,-0.370184,-0.738286,1.187516,0.196946,0.476471,4.0
17,23689.680333,24850.000000,8662.276667,5961.425903,0.373667,1.972961e+05,0.204078,-1.099911,-0.214448,-0.407865,-0.920404,-0.466042,-2.904591,6.0
18,27013.762000,42897.000000,6904.095000,9505.650233,0.405250,2.639306e+05,0.455690,-0.217247,-0.801471,0.458853,-0.551226,-0.350337,-1.005737,5.0

In [66]:
regioes_am = regioes_am.merge(regioesz, right_index=True, left_index=True, how = 'left')
regioes_am

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
12,AM,AP de Porto Velho/RO,43675.849500,39251.500000,9719.075000,10277.379735,0.495500,3.395094e+05,43675.849500,39251.500000,...,0.495500,3.395094e+05,1.716900,-0.395545,0.138397,0.647575,0.503709,-0.219101,2.391934,2.0
13,AM,Cruzeiro do Sul,9846.656500,23686.500000,6015.285000,6049.571630,0.344500,1.175033e+05,9846.656500,23686.500000,...,0.344500,1.175033e+05,-0.843747,-1.156817,-1.098228,-0.386309,-1.261334,-0.604595,-5.351030,7.0
14,AM,Itacoatiara,6307.644000,55965.500000,15135.410000,2422.155510,0.559000,5.002250e+04,6307.644000,55965.500000,...,0.559000,5.002250e+04,-1.111627,0.421923,1.946808,-1.273371,1.245961,-0.721770,0.507924,3.0
15,AM,Manaus,26389.796021,76318.361702,10499.978936,14578.564730,0.434936,1.712454e+06,26389.796021,76318.361702,...,0.434936,1.712454e+06,0.408459,1.417365,0.399126,1.699403,-0.204223,2.164899,5.885029,1.0
16,AM,Parintins,10031.543500,68403.000000,8195.835000,4610.252945,0.554000,5.791106e+05,10031.543500,68403.000000,...,0.554000,5.791106e+05,-0.829753,1.030231,-0.370184,-0.738286,1.187516,0.196946,0.476471,4.0
17,AM,Rio Branco,23689.680333,24850.000000,8662.276667,5961.425903,0.373667,1.972961e+05,23689.680333,24850.000000,...,0.373667,1.972961e+05,0.204078,-1.099911,-0.214448,-0.407865,-0.920404,-0.466042,-2.904591,6.0
18,AM,Tabatinga,27013.762000,42897.000000,6904.095000,9505.650233,0.405250,2.639306e+05,27013.762000,42897.000000,...,0.405250,2.639306e+05,0.455690,-0.217247,-0.801471,0.458853,-0.551226,-0.350337,-1.005737,5.0

In [67]:
regioes_am.sort_values(by='ranking')[0:3]

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
15,AM,Manaus,26389.796021,76318.361702,10499.978936,14578.564730,0.434936,1.712454e+06,26389.796021,76318.361702,...,0.434936,1.712454e+06,0.408459,1.417365,0.399126,1.699403,-0.204223,2.164899,5.885029,1.0
12,AM,AP de Porto Velho/RO,43675.849500,39251.500000,9719.075000,10277.379735,0.495500,3.395094e+05,43675.849500,39251.500000,...,0.495500,3.395094e+05,1.716900,-0.395545,0.138397,0.647575,0.503709,-0.219101,2.391934,2.0
14,AM,Itacoatiara,6307.644000,55965.500000,15135.410000,2422.155510,0.559000,5.002250e+04,6307.644000,55965.500000,...,0.559000,5.002250e+04,-1.111627,0.421923,1.946808,-1.273371,1.245961,-0.721770,0.507924,3.0

In [68]:
regioes_am.sort_values(by='ranking', ascending=False)[0:3]

,estado,regiao_imediata,area_territorial_x,populacao_estimada_x,pib_per_capita_x,saldo_receitas_despesas_x,IDHM_Educacao_x,GDP_x,area_territorial_y,populacao_estimada_y,...,IDHM_Educacao_y,GDP_y,z_area_territorial,z_populacao_estimada,z_pib_per_capita,z_saldo_receitas_despesas,z_IDHM_Educacao,z_GDP,totalz,ranking
13,AM,Cruzeiro do Sul,9846.656500,23686.5,6015.285000,6049.571630,0.344500,117503.2900,9846.656500,23686.5,...,0.344500,117503.2900,-0.843747,-1.156817,-1.098228,-0.386309,-1.261334,-0.604595,-5.351030,7.0
17,AM,Rio Branco,23689.680333,24850.0,8662.276667,5961.425903,0.373667,197296.0600,23689.680333,24850.0,...,0.373667,197296.0600,0.204078,-1.099911,-0.214448,-0.407865,-0.920404,-0.466042,-2.904591,6.0
18,AM,Tabatinga,27013.762000,42897.0,6904.095000,9505.650233,0.405250,263930.6125,27013.762000,42897.0,...,0.405250,263930.6125,0.455690,-0.217247,-0.801471,0.458853,-0.551226,-0.350337,-1.005737,5.0